<div class="row">
	<ul class="nav nav-pills pull-right">
		<li><%= link_to 'Unclaimed Appraisals', dashboard_detail_path(:detail => 'unclaimed') %></li>
		<li><%= link_to 'Processing Appraisals', dashboard_detail_path(:detail => 'processing') %></li>
		<li><%= link_to 'Completed Appraisals', dashboard_detail_path(:detail => 'completed') %></li>
		<li><%= link_to 'Transactions This Month', dashboard_payouts_path(:status => 'pending') %></li>
		<li><%= link_to 'Payment History', dashboard_payouts_path(:status => 'completed') %></li>
		<li><%= link_to 'My Account', appraiser_steps_path %></li>
	</ul>
</div>