<div class="row">
  <ul class="nav nav-tabs"> 
    <li class="dropdown <%= !@appraisals.nil? ? "active" : "" %>">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Appraisals<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Unclaimed Appraisals', dashboard_detail_path(:detail => 'unclaimed') %></li>
      <li><%= link_to 'My Referrals', dashboard_detail_path(:detail => 'referrals') %></li>
      <li><%= link_to 'Appraisals in Process', dashboard_detail_path(:detail => 'processing') %></li>
      <li><%= link_to 'My Completed Appraisals', dashboard_detail_path(:detail => 'completed') %></li>
    </ul>
    </li>
    <li class='dropdown <%= !@payouts.nil? ? "active" : "" %>"'>
    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Transactions<b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Transactions This Month', dashboard_payouts_path(:status => 'pending') %></li>
      <li><%= link_to 'Transactions Previous Month', dashboard_payouts_path(:status => 'previous') %></li>
      <li><%= link_to 'Payment History', dashboard_payouts_path(:status => 'history') %></li>
    </ul>
    </li>
  </ul>
</div>
