.container-fluid
  .row-fluid
    .span7
      #notice
        %p= notice
        %p{ :id=>"alert"}= alert

      - if @appraisal.status != EActivityValueFinalized
        %p
          %b Item Description:
          = @appraisal.name

        %p
          %b Country of Origin:
          = @appraisal.appraisal_info.country_of_origin

        %p
          %b Signatures, Maker/Maker's, dates, etc.:
          = @appraisal.appraisal_info.makers_marks
        %p
          %b Materials:
          = @appraisal.appraisal_info.materials
        %p
          %b Inscriptions:
          = @appraisal.appraisal_info.inscriptions
        %p
          %b Dimensions:
          = @appraisal.appraisal_info.dimensions
        %p
          %b Condition:
          = @appraisal.appraisal_info.damage
        %p
          %b Item history:
          = @appraisal.appraisal_info.item_history

      - if @appraisal.status == EActivityValueFinalized
        %h2 Appraisers report

        %p
          %b Item Description:
          = @appraisal.name
        %p
          %b Appraiser Number:
          = @appraisal.assigned_to.id

        %p
          %b Approx. Date of Manufacture:
          = @appraisal.appraisal_info.year_of_manufacture

        %p
          %b Country of Origin:
          = @appraisal.appraisal_info.country_of_origin

        %p
          %b Signatures, Maker/Maker's, dates, etc.:
          = @appraisal.appraisal_info.makers_marks
        %p
          %b Materials:
          = @appraisal.appraisal_info.materials
        %p
          %b Inscriptions:
          = @appraisal.appraisal_info.inscriptions
        %p
          %b Dimensions:
          = @appraisal.appraisal_info.dimensions
        %p
          %b Condition:
          = @appraisal.appraisal_info.damage
        %p
          %b Item history:
          = @appraisal.appraisal_info.item_history

        %p
          %b Additional Extraordinary Assumptions:
          = @appraisal.appraisal_info.additional_ea

        %p
          %b Additional Comments including market data:
          = @appraisal.appraisal_info.appraiser_comments

        %p
          %b Replacement Value (comparable) Minimum:
          = @appraisal.appraisal_info.replacement_cost_min

        %p
          %b Replacement Value (comparable) Maximum:
          = @appraisal.appraisal_info.replacement_cost_max

        %p
          %b Fair Market Value Minimum:
          = @appraisal.appraisal_info.fair_market_value_min

        %p
          %b Fair Market Value Maximum:
          = @appraisal.appraisal_info.fair_market_value_max

        %p
          %b Additional notes:
          %ul
            - @appraisal.appraisal_datums.each do |data|
              %li= data.value

      - if @user
        - if @user.role.eql?("user")
          = link_to 'Edit', edit_appraisal_path(@appraisal), :class => "btn", :style => "color:white;"
          |
        - else
          - if @appraisal.status == EActivityValuePayed
            = link_to 'Claim', claim_appraisal_path(@appraisal), :class => "btn btn-success", :style => "color:white;"
            |
          - if @appraisal.status == EActivityValueClaimed
            = link_to 'Edit notes', reply_appraisal_path(@appraisal), :class => "btn btn-success", :style => "color:white;"
            |

      = link_to 'Back', appraisals_path, :class => "btn"
    .span5
      = render :partial => "photo_carousel"
  .row-fluid
    .span12
    = render :partial => "multiple_photo_upload" if @appraisal.status == EActivityValueClaimed
