<div class="row">
  <div class="col-md-10">
    <h5><strong>Status :</strong> <%= getStringForActivityValue(@appraisal.status) %></h5>
    <h5><strong>Type :</strong> <%= getStringForAppraisalType(@appraisal.selected_plan) %></h5>
    <h3>
      <%= @appraisal.title %>
    </h3>
  </div>
  <div class="col-md-1" style="padding-top: 15px;">
    <%= link_to 'Claim', claim_appraisal_path(@appraisal), :class => "btn btn-success pull-right claim" if @appraisal.status == EActivityValuePayed %>
    <% if (@appraisal.status == EActivityValueClaimed || @appraisal.status == EActivityValueFinalized) && (current_user == @appraisal.assigned_to) %>
      <%= link_to 'Edit', reply_appraisal_path(@appraisal), :class => "btn btn-success pull-right edit" %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <table class="table table-condensed">
      <tbody>
        <% if @appraisal.status == EActivityValueFinalized%>
          <tr>
            <td><%= "File #".upcase %></td>
            <td><%= @appraisal.id %></td>
          </tr>
          <tr>
            <td><%= "Effective Date of Report".upcase %></td>
            <td><%= @appraisal.updated_at.strftime("%d %b. %Y") %></td>
          </tr>
        <% end %>
        <tr>
          <td><%= "Created by".upcase %></td>
          <td><%= getProfileForUser(@appraisal.created_by) %></td>
        </tr>
        <tr>
          <td><%= "Category".upcase %></td>
          <td><%= "#{@appraisal.classification.category.name}" unless @appraisal.classification.nil? %></br></td>
        </tr>
        <tr width="165px">
          <td><%= "Title".upcase %></td>
          <td><%= @appraisal.title %></td>
        </tr>
        <tr>
          <td><%= "Description".upcase %></td>
          <td><%= @appraisal.name %></td>
        </tr>
        <tr>
          <td><%= "Approx. Date of Manufacture".upcase %></td>
          <td><%= @appraisal.appraisal_info.year_of_manufacture %></td>
        </tr>
        <tr>
          <td><%= "Country of Origin".upcase %></td>
          <td><%= @appraisal.appraisal_info.country_of_origin %></td>
        </tr>
        <tr>
          <td><%= "Signatures, Maker/Maker's, Dates, etc.".upcase %></td>
          <td><%= @appraisal.appraisal_info.makers_marks %></td>
        </tr>
        <tr>
          <td><%= "Inscriptions".upcase %></td>
          <td><%= @appraisal.appraisal_info.inscriptions %></td>
        </tr>
        <tr>
          <td><%= "Dimensions".upcase %></td>
          <td><%= @appraisal.appraisal_info.dimensions %></td>
        </tr>
        <tr>
          <td><%= "Condition".upcase %></td>
          <td><%= @appraisal.appraisal_info.damage %></td>
        </tr>
        <tr>
          <td><%= "Item History".upcase %></td>
          <td><%= @appraisal.appraisal_info.item_history %></td>
        </tr>
        <tr>
          <% unless @appraisal.status == EActivityValuePayed %>
            <td><%= "Additional Extraordinary Assumptions".upcase %></td>
            <td><%= @appraisal.appraisal_info.additional_ea %></td>
          </tr>
          <tr>
            <td><%= "Comments".upcase %></td>
            <td><%= @appraisal.appraisal_info.appraiser_comments %></td>
          </tr>
          <tr>
            <td><%= "Replacement Value".upcase%></br><small>(Comparable)</small></td>
            <td><%= print_replacement_cost(@appraisal) %></td>
          </tr>
          <tr>
            <td><%= "Fair Market Value".upcase %></td>
            <td><%= print_fair_market_value(@appraisal) %></td>
          </tr>
        <% end %>

        <tr>
          <% if @appraisal.insurance_claim %>
            <td>
              <span class='glyphicon glyphicon-ban-circle pull-right'></span>
            </td>
            <td> This appraisal is for an insurance claim for cashing out a property.</td>
          <% end %>  
        </tr>
        
        <tr>
          <tr>
            <td>ITEM LOCATION</td>
            <td><%= @appraisal.insurance_location %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <%= render :partial => "photo_carousel" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render :partial => "photos/new_multiple_image_upload_form", :locals => {photos: @appraisal.photos, can_upload: false, can_delete: false, can_mark_as_primary: false} if @appraisal.status == EActivityValueClaimed %>
    </div>
  </div>
  <!-- wip -->
  <div class="row bottom-button">
    <div class="col-md-12">
      <%= link_to 'Claim', claim_appraisal_path(@appraisal), :class => "btn btn-success" if @appraisal.status == EActivityValuePayed %>
      <%= link_to 'Edit', reply_appraisal_path(@appraisal), :class => "btn btn-success" if @appraisal.status == EActivityValueClaimed %>
    </div>
  </div>
  <% if (@appraisal.status == EActivityValueClaimed || @appraisal.status == EActivityValueFinalized) && (current_user == @appraisal.assigned_to) %>
    <div class="row">
      <div class="col-md-12">
        <%= render :partial => "appraisals/comments", :locals => {:appraisal => @appraisal, :comments => @appraisal_comments}%>
      </div>
    </div>
  <% end %>
  <% if @appraisal.status == EActivityValueFinalized %>
    <div class="row">
      <div class="col-md-11">
        <button type="button" class="btn btn-mini btn-success" data-toggle="collapse" data-target="#supplemental_information">
          <i class="icon-file icon-white"></i>
          More (important supplemental information)
        </button>
        <% selected_plan = @appraisal.selected_plan
        appraiser_type = @appraiser.appraiser_info.uspap.to_i

        if (selected_plan == EAAppraisalTypeShortRestricted || selected_plan == EAAppraisalTypeLongRestricted || selected_plan == EAAppraisalTypeShortRestrictedPair || selected_plan == EAAppraisalTypeLongRestrictedPair) && appraiser_type == EAAppraiserUSPAPFamiliar
          format = "appraisal_body_restricteduse_USPAP_compliant_yes"
          option = 1
        elsif (selected_plan == EAAppraisalTypeShortForSelling || selected_plan == EAAppraisalTypeLongForSelling || selected_plan == EAAppraisalTypeShortForSellingPair || selected_plan == EAAppraisalTypeLongForSellingPair) && appraiser_type == EAAppraiserUSPAPFamiliar
          format = "appraisal_body_summary_forselling_USPAP_compliant_yes"
          option =2
        elsif (selected_plan == EAAppraisalTypeShortRestricted || selected_plan == EAAppraisalTypeLongRestricted || selected_plan == EAAppraisalTypeShortRestrictedPair || selected_plan == EAAppraisalTypeLongRestrictedPair) && appraiser_type != EAAppraiserUSPAPFamiliar
          format = "appraisal_body_restricteduse_USPAP_compliant_no"
          option =3
        elsif (selected_plan == EAAppraisalTypeShortForSelling || selected_plan == EAAppraisalTypeLongForSelling || selected_plan == EAAppraisalTypeShortForSellingPair || selected_plan == EAAppraisalTypeLongForSellingPair) && appraiser_type != EAAppraiserUSPAPFamiliar
          format = "appraisal_body_summary_forselling_USPAP_compliant_no"
          option =4
        else
          raise "Invalid selected_plan and appraiser_type combination"
        end
      %>
    <div id="supplemental_information" class="collapse">
      <%= render :partial => "appraisals/formats/"+format, :locals => {:appraisal => @appraisal} %>
      <% if @appraisal.status == EActivityValueFinalized %>
        <div id="appraiser-info">
          <% if (@appraiser.signature?) %> 
            <%= image_tag "#{@appraiser.signature.standard.url}?id=#{rand(1000)}", :height => "100", :width => "250"%>
          <% elsif !(@appraiser.appraiser_extra.signature_json.nil? || @appraiser.appraiser_extra.signature_json.empty?) %>
            <canvas id="appraiser-signature" height="100" width="250"></canvas>
          <% end %>
          <h4><%= @appraiser.name %></h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
  <% end %>
