<% unless comments.empty? %>
<h4>Comments</h4>
<% end %>
<% comments.each do |comment| %>
	<%= render :partial => "appraisals/comment_block", :locals => {:comment => comment} %>
<% end %>
<% if @appraisal.status == EActivityValueClaimed %>
<div id="div_comment">
	<%= simple_form_for Comment.new do |f| %>
	<%= f.input :body, :label => "Please enter your comment in the text field below", :input_html => {:rows => 3, :class => "input-xxlarge"}  %>
	<input type="hidden" name="comment_appraisal_id" value="<%= @appraisal.id %>">
	<%= f.submit "Save Comment", :class => "btn btn-success" %>
	<% end %>
</div>
<% end %>