<%= simple_form_for(@appraisal, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
<div class="row sub_box">
	<div>
		<div>
			<% if @appraisal.errors.any? %>
			<div class="error_explanation">
				<h2><%= "#{pluralize(@appraisal.errors.count, "error")} prohibited this appraisal from being saved:" %></h2>
				<!-- <ul>
					<% @appraisal.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul> -->
			</div>
			<% end %>
		</div>
	</div>
	<div>
		<div>
			<div class="form-inputs">
				<%= f.input :title, :label => "Item title", :hint => "(Enter a brief noun name of the item.)", :input_html => {:class => "input-xxlarge"} %>
				<%= f.input :name, :label => "Item description", :hint => "(Enter a brief description of your item including any characteristics you feel are relevant to its value.)", :input_html => {:class => "input-xxlarge"} %>
				<%= f.simple_fields_for :appraisal_info, @appraisal.appraisal_info do |a| %>
					<%= a.input :item_history, :label => "Item history", :as => :text, :hint => "(Where did you get it? Purchase at auction, flea market? Family Heirloom? How long have you owned it?)", :input_html => {:class => "input-xxlarge", :rows => 4} %>
					<%= a.input :makers_marks, :label => "Signatures, maker's marks, dates", :as => :text, :hint => "(List any signatures, maker's marks or dates. If none, enter 'none'.)", :input_html => {:class => "input-xxlarge", :rows => 4} %>
					<%= a.input :inscriptions, :label => "Inscriptions,etc", :as => :text, :hint => "(List any inscriptions, monograms, dedications or other such markings. If none, enter 'none'.)" , :input_html => {:class => "input-xxlarge", :rows => 4}%>
					<%= a.input :dimensions, :label => "Dimensions", :as => :text, :hint => "(Enter the height, width, depth, diameter as appropriate.)" , :input_html => {:class => "input-xxlarge", :rows => 4}%>
					<%= a.input :materials, :label => "Materials", :as => :text, :input_html => {:class => "input-xxlarge", :rows => 4} %>
					<%= a.input :country_of_origin, :label => "Country of Origin", :as => :country, :priority => [ "Unknown", "United States" ] %>

					<%= a.input :damage, :label => "Condition", :as => :text,:hint => "(List any damages, old repairs, soiling, staining or other defects.<br>If the item is mechanical or electrical, is it in good working condition?) ", :input_html => {:class => "input-xxlarge", :rows => 4} %>
				<% end %>
		</div>
	</div>
</div>
<% if params[:action]  != "edit" %>
<div>
	<div>
		<div>
			<h4>Selected Plan <small><a href="http://beta.valuethisnow.com/vmt/using-online-appraisals" class="btn btn-mini btn-success" target="_blank">?</a></small></h4>
			<%= f.input :selected_plan, 
			:collection => [[EAAppraisalTypeShortRestricted, "<b>Light Restricted Use Appraisal</b> ($27.00)<br/><ul><li>For your personal use only!</li><li>Provides streamlined feedback and valuation</li></ul>"],[EAAppraisalTypeLongRestricted, "<b>Full Restricted Use Appraisal</b> ($37.00)<br/><ul><li>For your personal use only!</li><li>Provides comprehensive feedback and valuation</li></ul>"],[EAAppraisalTypeShortForSelling, "<b>Light Summary Appraisal</b> ($29.00)<br/><ul><li>For use by you as well as by others</li><li>Provides streamlined feedback and valuation for reports being used by others</li></ul>"],[EAAppraisalTypeLongForSelling, "<b>Full Summary Appraisal</b> ($39.00)<br/><ul><li>For use by you as well as by others</li><li>Provides comprehensive feedback and valuation for reports being used by others</li></ul>"]], 
			:label_method => lambda {|a| raw a[1]}, 
			:value_method => :first,
			:as => :radio_buttons, 
			:item_wrapper_class => 'radio',
			:required => true,
			:label => ""
			%>
		</div>
	</div>
</div>
<% end %>
<div class="well">
	<div>
		<strong>Notice</strong>
		<small><p>This online appraisal will provide an estimate of worth that is based on the subject property's value-relevant characteristics as provided to the appraiser by the client by means of written photographs and written descriptions. As will be noted in the body of the final appraisal report, the online appraiser did not personally inspect the property. The Uniform Standards of Professional Appraisal Practice (USPAP) do not require the appraiser to personally inspect the property. However, USPAP does require that the appraiser "identify" the property and its "value-relevant characteristics." This can be accomplished either by a personal inspection of the property, or by other parties providing the identifying information to the appraiser.</p>
		<p>The appraiser will provide ranges of values reflecting the property's fair market value as well as its replacement value (comparable). The former reflects what a seller most often accepts and a buyer most often pays for comparable properties, often within the online or onsite auction markets. The latter reflects the appraiser's opinion of what the seller would probably have to pay from within the retail market to replace the subject property with a comparable property within a reasonable amount of time from within the most convenient marketplace.</p>
		<p>For our purposes, fair market value reflects the gross amount one would expect to realize if selling the item at auction. Replacement value (comparable) reflects the amount one would expect to pay at retail when attempting to replace the property with a comparable item.</p>
		<p>Appraisals are opinions based on documented market data. ValueThisNow.com does not (indeed, no appraiser can) guarantee that an item will be sold for the appraised amount (items may sell for more or less), nor that a comparable property can be purchased for the appraised amount (a buyer might have to pay more or less).</p></small>
	</div>
</div>
	<div>
		<div class="form-actions">
			<% if params[:action]  != "edit" %>
			<%= f.button :submit, "Next step", :class => "btn btn-success pull-right" %>
			<% else %>
			<%= f.button :submit, "Save and Continue", :class => "btn btn-success" %>
			<% end %>
		</div>
	</div>

</div>
<% end %>