<% pdf ||= false
if @appraisal.photos.count != 0 && !pdf %>
  <div class="visible-lg">
    <div class="large-photo">
      <%= link_to @appraisal.default_photo.picture_url(:huge), :class => "MagicZoom", :rel => "zoom-width: 600; zoom-height: 600; zoom-distance: 50px; show-title: false; hint: false; zoom-position: left; disable-zoom: false", :id => "zoom" do %>
        <%= image_tag @appraisal.default_photo.picture_url(:carrousel), class: "img-responsive" %>
      <% end %>
    </div>

    <div class="small-photo">
      <% @appraisal.photos.each_with_index do |image, i| %>
        <%= link_to image.picture_url(:huge), :rel => "zoom-id:zoom;", :rev => image.picture_url(:carrousel) do %>
          <%= image_tag image.picture_url(:thumb) %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="hidden-lg">
    <div class="large-photo">
      <%= link_to @appraisal.default_photo.picture_url(:large), :class => "MagicZoom", :rel => "disable-zoom: true", :id => "zoom-lg" do %>
        <%= image_tag @appraisal.default_photo.picture_url(:large), class: "img-responsive" %>
      <% end %>
    </div>
    <div class="small-photo">
      <% @appraisal.photos.each_with_index do |image, i| %>
        <%= link_to image.picture_url(:huge), :rel => "zoom-id:zoom-lg;", :rev => image.picture_url(:carrousel) do %>
          <%= image_tag image.picture_url(:thumb) %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @appraisal.photos.count != 0 && pdf %>
  <div>
    <div>
      <%= image_tag @appraisal.default_photo.picture_url(:carrousel) %>
    </div>
    <div>
      <% @appraisal.photos.each_with_index do |image, i| %>
        <%= image_tag image.picture_url(:thumb) %>
      <% end %>
    </div>
  </div>
<% end %>
