- if @appraisal.status == EActivityValueFinalized
  = render :partial => "finalized_appraisal"
- else
  .create_appraisal_table_1
    .photo_box
      .uploaded_photo
        - @appraisal.photos.each do |photo|
          =link_to image_tag(photo.asset.url(:thumb)), photo.asset.url(:original), :title => h(@appraisal.name), :rel => "lightbox", :target_id => "photo_#{photo.id}"
  .choose_plan
    %p{:align => "center"}= "Status: #{getStringForActivityValue(@appraisal.status)}"

  .create_but3
    .Button= link_to "Edit Appraisal", edit_appraisal_path

  -# #notice= flash[:notice]

  %table{:width => "468", :cellspacing => "0", :cellpadding => "3", :border => "0"}

    %tr
      %td.label{:width => 165} Item Description
      %td= @appraisal.name

    %tr
      %td.label Item History
      %td= @appraisal.appraisal_info.item_history

    %tr
      %td.label Signatures, maker's marks, dates
      %td= @appraisal.appraisal_info.makers_marks

    %tr
      %td.label Inscriptions, etc.
      %td= @appraisal.appraisal_info.inscriptions

    %tr
      %td.label Dimensions
      %td= @appraisal.appraisal_info.dimensions

    %tr
      %td.label Materials
      %td= @appraisal.appraisal_info.materials

    %tr
      %td.label Country of Origin
      %td= @appraisal.appraisal_info.country_of_origin

    %tr
      %td.label Damage
      %td= @appraisal.appraisal_info.damage

    