<div class="page-header">
	<h5>Status : <%= getStringForActivityValue(@appraisal.status) %></h5>
	<h1><%= @appraisal.name %>
		<% if @appraisal.status == EActivityValueCreated %>
		<% @payment = Payment.new %>
		<%= link_to 'Enter Payment', payments_path(@payment, :appraisal_id => @appraisal), :class => "btn btn-success pull-right" %>
		<% end %>
		<% if @appraisal.status != EActivityValueFinalized %>
		<%= link_to 'Edit', edit_appraisal_path(@appraisal), :class => "btn btn-success pull-right" %>
		<% end %>
		<% if @appraisal.status == EActivityValueFinalized %>
		<%= link_to "Download Certified Long Appraisal", appraisal_path(@appraisal, :format => :pdf, :pdf_long => true), :class => "btn btn-success  btn-mini  pull-right" %>
		<%= link_to "Download Certified Short Appraisal", appraisal_path(@appraisal, :format => :pdf), :class => "btn btn-success btn-mini pull-right" %>
		<% end %>
	</h1>
</div>
<div class="container">
	<div class="row">
		<div class="span7">
			<table class="table table-condensed">
				<tbody>
					<tr>
						<td width="165">Item description</td>
						<td><%= @appraisal.name %></td>
					</tr>
					<tr>
						<td>Item history</td>
						<td><%= @appraisal.appraisal_info.item_history %></td>
					</tr>
					<tr>
						<td>Signatures, maker's marks, dates</td>
						<td><%= @appraisal.appraisal_info.makers_marks %></td>
					</tr>
					<tr>
						<td>Inscriptions,etc</td>
						<td><%= @appraisal.appraisal_info.inscriptions %></td>
					</tr>
					<tr>
						<td>Dimensions</td>
						<td><%= @appraisal.appraisal_info.dimensions %></td>
					</tr>
					<tr>
						<td>Materials</td>
						<td><%= @appraisal.appraisal_info.materials %></td>
					</tr>
					<tr>
						<td>Country of Origin</td>
						<td><%= @appraisal.appraisal_info.country_of_origin %></td>
					</tr>
					<tr>
						<td>Condition</td>
						<td><%= @appraisal.appraisal_info.damage %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span5">
			<%= render :partial => "photo_carousel" %>
		</div>
	</div>
	<div class="row">
			<%= render :partial => "multiple_photo_upload" unless @appraisal.status == EActivityValueFinalized%>
			<% if @appraisal.status == EActivityValueFinalized %>
				<%= link_to "Download Certified Short Appraisal", appraisal_path(@appraisal, :format => :pdf), :class => "btn btn-success" %>
				<%= link_to "Download Certified Long Appraisal", appraisal_path(@appraisal, :format => :pdf, :pdf_long => true), :class => "btn btn-success" %>
			<% end %>
	</div>
</div>