<div class="page-header">
	<h5>Status : <%= getStringForActivityValue(@appraisal.status) %></h5>
	<h1><%= @appraisal.name %>
		<% if @appraisal.status == EActivityValueCreated %>
		<% @payment = Payment.new %>
		<%= link_to 'Make Payment', payments_path(@payment, :appraisal_id => @appraisal), :class => "btn btn-success pull-right" %>
		<% end %>
		<% if @appraisal.status != EActivityValueFinalized %>
		<%= link_to 'Edit', edit_appraisal_path(@appraisal), :class => "btn btn-success pull-right" %>
		<% end %>
		<% if @appraisal.status == EActivityValueFinalized %>
		<%= link_to appraisal_path(@appraisal, :format => :pdf), :class => "btn btn-success btn-mini" do %><i class="icon-download-alt icon-white"></i> Download Appraisal<% end %>
		<% end %>
	</h1>
</div>
<div class="container">
	<div class="row">
		<div class="span7 appraisal-info">
			<table class="table table-condensed">
				<tbody>
					<% if @appraisal.status == EActivityValueFinalized%>
						<tr>
							<td><%= "File #".upcase %></td>
							<td><%= @appraisal.id %></td>
						</tr>
						<tr>
							<td><%= "Effective Date of Report".upcase %></td>
							<td><%= @appraisal.updated_at.strftime("%d %b. %Y") %></td>
						</tr>
					<% end %>
					<% if @appraisal.status == EActivityValueClaimed || @appraisal.status == EActivityValueFinalized %>
						<tr>
							<td><%= "Appraised by".upcase %></td>
							<td><%= getProfileForUser(@appraisal.assigned_to) %></td>
						</tr>
					<% end %>
					<tr>
						<td><%= "Category".upcase %><% unless @appraisal.status == EActivityValueFinalized %><%= link_to wizard_categories_path(@appraisal.id, :pay => false), :class => "btn btn-mini btn-success", :target => "_new" do %><i class="icon-plus icon-white"></i> Edit categories <% end %><% end %></td>
						<td><% @appraisal.classifications.order('classifications.category_id').each do |c| %>
							<%= "#{Category.find(c.category_id).name}" %></br>
						<% end %>
						</td>
					</tr>
					<tr width="165px">
						<td><%= "Description / Title".upcase %></td>
						<td><%= @appraisal.name %></td>
					</tr>
					<% if @appraisal.selected_plan == EAAppraisalTypeLongRestricted  || @appraisal.selected_plan == EAAppraisalTypeLongForSelling %>
						<tr>
							<td><%= "Approx. Date of Manufacture".upcase %></td>
							<td><%= @appraisal.appraisal_info.year_of_manufacture %></td>
						</tr>
						<tr>
							<td><%= "Country of Origin".upcase %></td>
							<td><%= @appraisal.appraisal_info.country_of_origin %></td>
						</tr>
						<tr>
							<td><%= "Signatures, Maker/Maker's, Dates, etc.".upcase %></td>
							<td><%= @appraisal.appraisal_info.makers_marks %></td>
						</tr>
						<tr>
							<td><%= "Inscriptions".upcase %></td>
							<td><%= @appraisal.appraisal_info.inscriptions %></td>
						</tr>
						<tr>
							<td><%= "Dimensions".upcase %></td>
							<td><%= @appraisal.appraisal_info.dimensions %></td>
						</tr>
						<tr>
							<td><%= "Condition".upcase %></td>
							<td><%= @appraisal.appraisal_info.damage %></td>
						</tr>
						<tr>
							<td><%= "Item History".upcase %></td>
							<td><%= @appraisal.appraisal_info.item_history %></td>
						</tr>
					<% end %>
					<tr>
						<td><%= "Additional Extraordinary Assumptions".upcase %></td>
						<td><%= @appraisal.appraisal_info.additional_ea %></td>
					</tr>
					<tr>
						<td><%= "Comments".upcase %></td>
						<td><%= @appraisal.appraisal_info.appraiser_comments %></td>
					</tr>
					<tr>
						<td><%= "Replacement Value".upcase%></br><small>(Comparable)</small></td>
						<td><%= "$ #{@appraisal.appraisal_info.replacement_cost_min} to $ #{@appraisal.appraisal_info.replacement_cost_max} " %></td>
					</tr>
					<tr>
						<td><%= "Fair Market Value".upcase %></td>
						<td><%= "$ #{@appraisal.appraisal_info.fair_market_value_min} to $ #{@appraisal.appraisal_info.fair_market_value_max} " %></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="span5">
			<%= render :partial => "photo_carousel" %>
		</div>
	</div>
	<div class="row">
			<%= render :partial => "multiple_photo_upload" unless @appraisal.status == EActivityValueFinalized%>
			<div class="span11">
				<% if @appraisal.status == EActivityValueFinalized %>
				<%= link_to appraisal_path(@appraisal, :format => :pdf), :class => "btn btn-success" do %><i class="icon-download-alt icon-white"></i> Download Appraisal<% end %>
			<% end %>
			</div>
	</div>
	<div class="row">
		<div class="span11">
			<div class="pull-right" id="appraiser-info">
			<% if !(@appraiser.signature_file_name.nil?) %> 
                <%= image_tag @appraiser.signature(:small), :height => "100", :width => "250"%>
            <% elsif !(@appraiser.signature_json.nil? || @appraiser.signature_json.empty?) %>
            	<canvas id="appraiser-signature" height="100" width="250"></canvas>
            <% end %>
			<h4>Appraised by <%= @appraiser.appraiser_info.public_name.nil? || @appraiser.appraiser_info.public_name.empty? ? "#{@appraiser.name}" : "#{@appraiser.appraiser_info.public_name}" %></h4>
			<h5><%= @appraiser.appraiser_info.public_address.nil? || @appraiser.appraiser_info.public_address.empty? ? "" : "#{@appraiser.appraiser_info.public_address}" %></h5>
			<h5><%= @appraiser.appraiser_info.public_phone.nil? || @appraiser.appraiser_info.public_phone.empty? ? "" : "#{@appraiser.appraiser_info.public_phone}" %></h5>
			<h5><%= @appraiser.appraiser_info.public_email.nil? || @appraiser.appraiser_info.public_email.empty? ? "" : "#{@appraiser.appraiser_info.public_email}" %></h5>
		</div>
		</div>
	</div>
	<div class="row">
		<div class="span11">
			<% if @appraisal.status == EActivityValueFinalized %>
			<button type="button" class="btn btn-mini btn-success" data-toggle="collapse" data-target="#supplemental_information">
				<i class="icon-file icon-white"></i>
				More (important supplemental information)
			</button>
			<% selected_plan = @appraisal.selected_plan
			appraiser_type = @appraiser.appraiser_info.uspap.to_i

			if (selected_plan == EAAppraisalTypeShortRestricted || selected_plan == EAAppraisalTypeLongRestricted) && appraiser_type == EAAppraiserUSPAPFamiliar
				format = "appraisal_body_restricteduse_USPAP_compliant_yes"
				option = 1
			elsif (selected_plan == EAAppraisalTypeShortForSelling || selected_plan == EAAppraisalTypeLongForSelling) && appraiser_type == EAAppraiserUSPAPFamiliar
				format = "appraisal_body_summary_forselling_USPAP_compliant_yes"
				option =2
			elsif (selected_plan == EAAppraisalTypeShortRestricted || selected_plan == EAAppraisalTypeLongRestricted) && appraiser_type != EAAppraiserUSPAPFamiliar
				format = "appraisal_body_restricteduse_USPAP_compliant_no"
				option =3
			elsif (selected_plan == EAAppraisalTypeShortForSelling || selected_plan == EAAppraisalTypeLongForSelling) && appraiser_type != EAAppraiserUSPAPFamiliar
				format = "appraisal_body_summary_forselling_USPAP_compliant_no"
				option =4
			else
				raise "Invalid selected_plan and appraiser_type combination"
			end
			%>
			<div id="supplemental_information" class="collapse">
				<%= render :partial => "appraisals/formats/"+format, :locals => {:appraisal => @appraisal} %>
			</div>
			<% end %>
		</div>
	</div>
</div>