.create_appraisal_table_1
%table{:width => "468", :cellspacing => "0", :cellpadding => "3", :border => "0"}

  %tr.title
    %td.label{:width => 165}= @appraisal.name
    %td= ""

  %tr
    %td.label{:width => 165} Prepared By
    %td= @appraiser.name + " - Appraiser #" + @appraiser.id.to_s

    %tr
      %td.label Item Description:
      %td= @appraisal.name

    %tr
      %td.label Approx. Date of Manufacture:
      %td= @appraisal.appraisal_info.year_of_manufacture

    %tr
      %td.label Country of Origin:
      %td= @appraisal.appraisal_info.country_of_origin

    %tr
      %td.label Signatures, Maker/Maker's, dates, etc.:
      %td= @appraisal.appraisal_info.makers_marks
    %tr
      %td.label Materials:
      %td= @appraisal.appraisal_info.materials
    %tr
      %td.label  Inscriptions:
      %td= @appraisal.appraisal_info.inscriptions
    %tr
      %td.label  Dimensions:
      %td= @appraisal.appraisal_info.dimensions
    %tr
      %td.label  Condition:
      %td= @appraisal.appraisal_info.damage
    %tr
      %td.label  Item history:
      %td= @appraisal.appraisal_info.item_history

    %tr
      %td.label  Additional Extraordinary Assumptions:
      %td= @appraisal.appraisal_info.additional_ea

    %tr
      %td.label  Additional Comments including market data:
      %td= @appraisal.appraisal_info.appraiser_comments

    %tr
      %td.label  Replacement Value (comparable) Minimum:
      %td= @appraisal.appraisal_info.replacement_cost_min

    %tr
      %td.label  Replacement Value (comparable) Maximum:
      %td= @appraisal.appraisal_info.replacement_cost_max

    %tr
      %td.label  Fair Market Value Minimum:
      %td= @appraisal.appraisal_info.fair_market_value_min

    %tr
      %td.label  Fair Market Value Maximum:
      %td= @appraisal.appraisal_info.fair_market_value_max

  %tr
    %td.label Appraiser Signature
    %td= image_tag("signature_example.gif")

%p This appraisal report was prepared in accordance with the standards of #{link_to("USPAP", "http://en.wikipedia.org/wiki/Uniform_Standards_of_Professional_Appraisal_Practice")}
%p{:align => "center"}
  = link_to("Appraisal Disclaimer", "#")