<html>
<head>
	<title>ValueThisNow.com | Certified Appraisal</title>
	<%= wicked_pdf_stylesheet_link_tag    "application" %>
	<%= wicked_pdf_javascript_include_tag "application" %>
	<% # The following files need to be called from an external server because wicked_pdf has some problems loading them with the wicked_pdf_javascript_include_tag
	%>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="http://screencasts.valuemytreasure.com.s3.amazonaws.com/js/jquery.signature-panel.js"></script>
	<link rel="stylesheet" type="text/css" href="http://screencasts.valuemytreasure.com.s3.amazonaws.com/js/jquery.signature-panel.css" />

	<style type="text/css">
	div {
		margin-bottom: 10px;
	}
	.page-break { display:block; clear:both; page-break-after:always; }
	.thumbnail{
		border: none;
	}
	.pdf-image {
	-webkit-box-shadow:rgba(0, 0, 0, 0.40625) 1px 1px 2px 2px;
	-moz-box-shadow:rgba(0, 0, 0, 0.40625) 1px 1px 2px 2px;
	box-shadow:rgba(0, 0, 0, 0.40625) 1px 1px 2px 2px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	}
	</style>
	<script type="text/javascript">

	$(document).ready(function() {
            var signatureData = JSON.parse('<%= raw @appraiser.appraiser_extra.signature_json %>');
            $('#appraiser-signature').signaturePanel("drawClickstreamToCanvas",signatureData);
        });
	</script>
</head>
<body>
<div class="container">
	<div class="page-header">
		<h1>ValueThisNow.com<small class="pull-right">Certified Appraisal</small></h1>
	</div>
	<div class="row">
		<div class="span6">
			<b>File #:</b> <%= @appraisal.id %>
		</div>
		<div class="span6">
			<span class="pull-right"><b>Effective Date of Report :</b> <%= @appraisal.updated_at.strftime("%d %b. %Y") %></span>
		</div>
	</div>
		<div class="row">
		<div class="span3">
			<b>Title :</b>
		</div>
		<div class="span9">
			<%= @appraisal.title %>
		</div>
	</div>

	<div class="row">
		<div class="span3">
			<b>Description :</b>
		</div>
		<div class="span9">
			<%= @appraisal.name %>
		</div>
	</div>
	<% if @appraisal.selected_plan == EAAppraisalTypeLongRestricted  || @appraisal.selected_plan == EAAppraisalTypeLongForSelling %>
	<div class="row">
		<div class="span3">
			<b>Approx. Date of Manufacture :</b>
		</div>
		<div class="span9">
			<%= @appraisal.appraisal_info.year_of_manufacture %>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<b>Country of Origin :</b>
		</div>
		<div class="span9">
			<%= @appraisal.appraisal_info.country_of_origin %>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<b>Signatures, Maker/Maker's, Dates, etc. :</b>
		</div>
		<div class="span9">
			<%= @appraisal.appraisal_info.makers_marks %>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<b>Inscriptions :</b>
		</div>
		<div class="span9">
			<%= @appraisal.appraisal_info.inscriptions %>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<b>Dimensions :</b>
		</div>
		<div class="span9">
			<%= @appraisal.appraisal_info.dimensions %>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<b>Condition :</b>
		</div>
		<div class="span9">
			<%= @appraisal.appraisal_info.damage %>
	</div>
	</div>
	<div class="row">
		<div class="span3">
			<b>Item History :</b>
		</div>
		<div class="span9">
			<%= @appraisal.appraisal_info.item_history %>
		</div>
	</div>
	<% end %>
	<div class="row">
		<div class="span3">
			<b>Additional Extraordinary Assumptions :</b>
		</div>
		<div class="span9">
			<%= @appraisal.appraisal_info.additional_ea %>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<b>Comments :</b>
		</div>
		<div class="span9">
			<%= @appraisal.appraisal_info.appraiser_comments %>
		</div>
	</div>	
	<div class="row">
		<div class="span3">
			<b>Replacement Value :</b></br><small>(Comparable)</small>
		</div>
		<div class="span9">
			<%= print_replacement_cost(@appraisal) %>
		</div>
	</div>
	<div class="row">
		<div class="span3">
			<b>Fair Market Value : </b>
		</div>
		<div class="span9">
			<%= print_fair_market_value(@appraisal) %>
		</div>
	</div>
	<% if @appraisal.photos.count != 0 %>
<!-- 	<div class="page-break"></div> -->
	<div class="page-header">
	<h2>Item Pictures</h2>
	</div>
	<ul class="thumbnails">
		<% @appraisal.photos.each_with_index do |image,i| %>
		<li class="span3">
			<a href="#" class="thumbnail">
				<%= wicked_pdf_image_tag image.asset.url(:carrousel), :size => "460x460", :class => "pdf-image" %>
			</a>
		</li>
		<% end%>
	</ul>
	<% end %>

	<div class="page-break"></div>
		<% selected_plan = @appraisal.selected_plan
		appraiser_type = @appraiser.appraiser_info.uspap.to_i

		if (selected_plan == EAAppraisalTypeShortRestricted || selected_plan == EAAppraisalTypeLongRestricted) && appraiser_type == EAAppraiserUSPAPFamiliar
			format = "appraisal_body_restricteduse_USPAP_compliant_yes"
			option = 1
		elsif (selected_plan == EAAppraisalTypeShortForSelling || selected_plan == EAAppraisalTypeLongForSelling) && appraiser_type == EAAppraiserUSPAPFamiliar
			format = "appraisal_body_summary_forselling_USPAP_compliant_yes"
			option =2
		elsif (selected_plan == EAAppraisalTypeShortRestricted || selected_plan == EAAppraisalTypeLongRestricted) && appraiser_type != EAAppraiserUSPAPFamiliar
			format = "appraisal_body_restricteduse_USPAP_compliant_no"
			option =3
		elsif (selected_plan == EAAppraisalTypeShortForSelling || selected_plan == EAAppraisalTypeLongForSelling) && appraiser_type != EAAppraiserUSPAPFamiliar
			format = "appraisal_body_summary_forselling_USPAP_compliant_no"
			option =4
		else
			raise "Invalid selected_plan and appraiser_type combination"
		end
	 %>
	<%= render :partial => "appraisals/formats/"+format, :locals => {:appraisal => @appraisal} %>

	<div class="row">
		<div class="pull-right" id="appraiser-info">
			<% if !(@appraiser.signature_file_name.nil?) %> 
                <%= wicked_pdf_image_tag @appraiser.signature(:small), :height => "100", :width => "250"%>
            <% elsif !(@appraiser.appraiser_extra.signature_json.nil? || @appraiser.appraiser_extra.signature_json.empty?) %>
            	<canvas id="appraiser-signature" height="100" width="250"></canvas>
            <% end %>
			<h4>Appraised by <%= @appraiser.name.nil? || @appraiser.name.empty? ? "#{@appraiser.name}" : "#{@appraiser.name}" %></h4>
		</div>
	</div>

</div>
</body>
</html>