.page-header
  %h5== Status "#{getStringForActivityValue(@appraisal.status)}"
  %h1= @appraisal.name
.container-fluid
  .row-fluid
    .span7
      .form
        =simple_form_for(@appraisal, :html => {:class => 'form-horizontal'}) do |f|
          %h3 Please complete the following
          = f.input :name, :label => "Description/Title", :hint => "(noun name, circa date, condition, country of origin, etc.):"
          = f.simple_fields_for :appraisal_info, @appraisal.appraisal_info do |a|
            = a.input :year_of_manufacture, :label => "Approx. Date of Manufacture"
            = a.input :country_of_origin, :label => "Country of Origin", :hint => "(If determinable, else 'unknown')"
            = a.input :makers_marks
            = a.input :materials
            = a.input :inscriptions, :label => "Inscriptions, etc."
            = a.input :dimensions
            = a.input :damage, :label => "Condition"
            = a.input :item_history, :label => "Item history", :as => :text
            = a.input :additional_ea, :label => "Additional Extraordinary Assumptions", :hint => "(E.g., history of the item or its maker, how the item was used, historical significance, association with important personages, extraordinary assumptions being made by the appraisers, market data on which opinion of value was based (i.e., past comparable sales or current asking prices for similar items), how to best care for or preserve the item, relevant club to join or periodical to subscribe to if interested in learning more about the item, web sites of interest, etc.)", :as => :text
            = a.input :appraiser_comments, :label => "Comments", :hint => "(History, uses, etc.)", :as => :text
            = a.input :replacement_cost_min, :label => "Replacement Cost (comparable) Minimum"
            = a.input :replacement_cost_max, :label => "Replacement Cost (comparable) Maximum"

            = a.input :fair_market_value_min, :label => "Fair Market Value Minimum"
            = a.input :fair_market_value_max, :label => "Fair Market Value Maximum"

          .page-header
            %h3 Please add notes for this appraisal
          - f.simple_fields_for :appraisal_datums do |data|
            %p Create a note
            = data.input :value
          %p Select Status:
          = f.select :status , {"Send report back to user."=> EActivityValueFinalized, "I want to save but not hand back to user yet." => @appraisal.status }  , :selected => EActivityValueFinalized
          .actions
            =f.submit
    .span5
      = render :partial => "photo_carousel"