<div class="row">
  <div class="col-md-12">
    <h5>Status : <%= getStringForActivityValue(@appraisal.status) %></h5>
    <h5>Type : <%= getStringForAppraisalType(@appraisal.selected_plan) %></h5>
    <h5>File Number: <%= @appraisal.id %></h5>
    <h5>Category: <%= @appraisal.classification.category.name unless @appraisal.classification.nil? %></h5>
    <h3>
      <%= @appraisal.title %>
    </h3>
  </div>
</div>
<div class="row">
  <%= simple_form_for@appraisal, :html => {:multipart => true, :class => "form-horizontal edit_appraisal"},
    wrapper: :horizontal_form,
    wrapper_mappings: {
      check_boxes: :horizontal_radio_and_checkboxes,
      radio_buttons: :horizontal_radio_and_checkboxes,
      file: :horizontal_file_input,
      boolean: :horizontal_boolean
    } do |f| %>

    <div class="row">
      <div class="col-md-7">
        <%= f.input :title, :label => "* Title", :hint => "(Enter a very brief noun name of the item.)" %>
        <%= f.input :name, :label => "* Description", :hint => "(Describe the item as typically done in the trade.)" %>
        <%= f.simple_fields_for :appraisal_info, @appraisal.appraisal_info do |a| %>
          <%= a.input :year_of_manufacture, :label => "Approx. Date of Manufacture", :as => :text, :input_html => {:rows => 4} %>
          <%= a.input :country_of_origin, :label => "Country of Origin", :as => :text, :hint => "(If determinable, else 'unknown')", :input_html => {:rows => 4}%>
          <%= a.input :makers_marks, :label => "Signatures, maker's marks, dates", :as => :text, :hint => "(List any signatures, maker's marks or dates. If none, enter 'none'.)", :input_html => {:rows => 4}, :disabled => true %>
          <%= a.input :inscriptions, :label => "Inscriptions, etc", :as => :text, :hint => "(List any inscriptions, monograms, dedications or other such markings. If none, enter 'none'.)" , :input_html => {:rows => 4}, :disabled => true%>
          <%= a.input :dimensions, :label => "Dimensions", :as => :text, :hint => "(Enter the height, width, depth, diameter as appropriate.)" , :input_html => {:rows => 4}, :disabled => true%>
          <%= a.input :damage, :label => "* Condition", :as => :text,:hint => "(General observations by appraiser as to condition)", :input_html => {:rows => 4}%>
          <%= a.input :item_history, :label => "Item history", :as => :text, :hint => "(Includes “provenance”, i.e. past ownership, how and when obtained by client or client’s family.)", :input_html => {:rows => 4}, :disabled => true %>
          <%= a.input :additional_ea, :label => "Appraiser's Additional Extraordinary Assumptions", :hint => "This space is for extraordinary assumptions you had to make in order to develop an opinion of value, e.g.: 'teapot assumed to be sterling silver and not silverplate'. If none, state 'none'.)", :as => :text, :input_html => {:rows => 4}  %>
          <% comments_hint = "(E.g., history of the item or its maker, how the item was used, historical significance, association with important personages, extraordinary assumptions being made by the appraisers, market data on which opinion of value was based (i.e., past comparable sales or current asking prices for similar items), how to best care for or preserve the item, relevant club to join or periodical to subscribe to if interested in learning more about the item, web sites of interest, etc.) "
          comments_hint = "<span id='fullSummaryHelp'>This is a FULL Appraisal Report. This Comments field should exceed 100 words.</span></br>" + comments_hint if @appraisal.selected_plan ==  EAAppraisalTypeLongForSelling || @appraisal.selected_plan == EAAppraisalTypeLongForSellingPair %>
        <%= a.input :appraiser_comments, :label => "Appraiser's Additional Comments", :hint => raw(comments_hint), :as => :text, :input_html => {:rows => 4, id: "txtAppraisalComments"}, :required => true, error: false  %>
        <%= f.full_error :appraiser_comments, :style=> "margin-left: 194px; position: absolute; margin-top: -320px; color: #ff0000;"  %>
        <%= a.input :replacement_cost_min, :label => "* Replacement Value (comparable) Minimum", :input_html => {:class => "currency-input"} %>
        <%= a.input :replacement_cost_max, :label => "* Replacement Value (comparable) Maximum", :input_html => {:class => "currency-input"}, hint: "Consider replacement value to be what the client would most likely have to pay in order to purchase a comparable item from a retail gallery or dealer. This is the highest price possible."  %>
        <%= a.input :fair_market_value_min, :label => "* Fair Market Value Minimum", :input_html => {:class => "currency-input"}  %>
        <%= a.input :fair_market_value_max, :label => "* Fair Market Value Maximum", :input_html => {:class => "currency-input"}, hint: "Consider Fair Market Value to be what the client would most likely be able to sell the item for at auction. Fair Market Value is always less than replacement value."  %>
      <% end %>
      <%= f.input :status, :as => :hidden, :value => @appraisal.status %>
    </div>
    <div class="col-md-5 pull-right">
      <div class="row">
        <%= render :partial => "photo_carousel" %>
      </div>
    </div>
  </div> <!-- row -->
    <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <div id="extra">
        <% if @appraisal.status == EActivityValueFinalized %>
          <label class="checkbox">
            <input type="checkbox" name="notify_user" value="true">Check to notify client of edit
          </label>
          <button class="btn btn-success" id="btnUpdateAppraisalReply">Save and update appraisal</button>
        <% else %>
          <label class="checkbox">
            <input type="checkbox" name="suggest_rejection" id="chkSuggestRejection">Suggest to admin that this assignment be rejected and the customer so notified
          </label>
          <div id="divRejectionReason" style="margin-bottom: 20px;">
            <label class="string optional control-label" for="txtRejectionReason">Reason For Rejection</label>
            <div class="controls">
              <input type="text" name="txtRejectionReason" id="txtRejectionReason" value="" class="form-control"/> 
            </div>
          </div>
          <div>
          <%= f.submit 'Save and update appraisal', class: "btn btn-success", id: "btnUpdateAppraisalReply", name: "submit" %>
          <%= f.submit 'Save and submit appraisal to Client', class: "btn btn-success", id: "btnSubmitAppraisalReply", name: "submit" %>
          <button class="btn btn-success" id="btnRejectAppraisal">Reject Appraisal</button>
          </div>
        <% end %>
      </div> <!-- extra -->
    </div>
    </div>
<% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render :partial => "appraisals/comments", :locals => {:appraisal => @appraisal, :comments => @appraisal_comments}%>
  </div>
</div>


<script type="text/javascript">
  var payment_selected_plan = <%= @appraisal.selected_plan %>;
  var edit_form;

$(document).ready(function() {
  $("#btnRejectAppraisal").attr("disabled", true)
  // Disable Reject Button
  var words_number = 0;

    edit_form = $(".edit_appraisal").validate({
      rules: {
        "appraisal[title]": {
          required: true
        },
        "appraisal[name]": {
          required: true
        },
        "appraisal[appraisal_info][damage]": {
          required: true
        },
        "appraisal[appraisal_info][replacement_cost_min]": {
          required: true
        },
        "appraisal[appraisal_info][replacement_cost_max]": {
          required: true
        },
        "appraisal[appraisal_info][fair_market_value_min]": {
          required: true
        },
        "appraisal[appraisal_info][fair_market_value_max]": {
          required: true
        }
      },
      messages: {
        "appraisal[title]": {
          required: "This field is required."
        },
        "appraisal[name]": {
          required: "This field is required."
        },
        "appraisal[appraisal_info][damage]": {
          required: "This field is required."
        },
        "appraisal[appraisal_info][replacement_cost_min]": {
          required: "This field is required."
        },
        "appraisal[appraisal_info][fair_market_value_min]": {
          required: "This field is required."
        },
        "appraisal[appraisal_info][fair_market_value_max]": {
          required: "This field is required."
        },
        "appraisal[appraisal_info][damage]": {
          required: "This field is required."
        }
      },
      errorPlacement: function(error, element) {
        error.appendTo(element.parent());
      }
    });


})

</script>