<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @appraisal.name %>
</p>

<p>
  <b>Dimensions:</b>
  <%= @appraisal.dimensions %>
</p>

<p>
  <b>Materials:</b>
  <%= @appraisal.materials %>
</p>

<p>
  <b>Country of origin:</b>
  <%= @appraisal.country_of_origin %>
</p>

<p>
  <b>Makers marks:</b>
  <%= @appraisal.makers_marks %>
</p>

<p>
  <b>Damage:</b>
  <%= @appraisal.damage %>
</p>

<p>
  <b>Year of manufacture:</b>
  <%= @appraisal.year_of_manufacture %>
</p>

<p>
  <b>Where was it obtained:</b>
  <%= @appraisal.where_was_it_obtained %>
</p>

<p>
  <b>How was it obtained:</b>
  <%= @appraisal.how_was_it_obtained %>
</p>

<p>
  <b>Appraiser number:</b>
  <%= @appraisal.appraiser_number %>
</p>

<p>
  <b>Value of item:</b>
  <%= @appraisal.value_of_item %>
</p>

<p>
  <b>Historical significance:</b>
  <%= @appraisal.historical_significance %>
</p>

<p>
  <b>Number of pieces created:</b>
  <%= @appraisal.number_of_pieces_created %>
</p>

<p>
  <b>Where it was manufactured:</b>
  <%= @appraisal.where_it_was_manufactured %>
</p>

<p>
  <b>When it was used:</b>
  <%= @appraisal.when_it_was_used %>
</p>

<p>
  <b>How it was used:</b>
  <%= @appraisal.how_it_was_used %>
</p>

<p>
  <b>Selected plan:</b>
  <%= @appraisal.selected_plan %>
</p>

<p>
  <b>Status:</b>
  <%= @appraisal.status %>
</p>


<%= link_to 'Edit', edit_appraisal_path(@appraisal) %> |
<%= link_to 'Back', appraisals_path %>
