#logout
  = link_to "Sign out", destroy_user_session_url
= link_to "Dashboard" , admin_dashboard_path
#panel
  %h2 Appraisers on file:
  %h5= page_entries_info @users
  = will_paginate @users
  .users.clear= render :partial => 'appraisers/list', :collection => @users , :as => :user
  = will_paginate @users