<center>
  <div class="contentBlock">
    <div class="formTop"><span class="title41">Account</span></div>
    <%= render :partial => "/appraiser_steps/appraiser_tabs" %>
    <div class="sub_box">
      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal" }) do |f| %>
        <div class="form-inputs">
        <%= devise_error_messages! %>
        <%= f.input :email, input_html: {class: "input-xxlarge"} %>
        <%= f.input :password, label: "Current Password", :hint => "We need your current password to confirm your changes", input_html: {class: "input-xxlarge"}%>
        <%= f.input :password, label: "New Password", input_html: {class: "input-xxlarge"}, placeholder: "Use this field to change your password." %>
        <%= f.input :password_confirmation, :hint => "Must have at least 6 characters: at least 1 digit, at least 1 upper case letter.", input_html: {class: "input-xxlarge"}%>
      </div>
      <div class="form-actions">
        <%= f.submit "Save", :class => "btn btn-success"%>
      </div>
    <% end %>
    </div>
  </div>
</center>

