<% # TODO Find a better place to store this monkeypatch
  def wizard_path(goto_step = nil, options = {})
    options = { :controller => :appraiser_steps,
                :action     => 'show',
                :id         => goto_step || params[:id],
                :only_path  => true
               }.merge options
    url_for(options)
  end %>
<ul class="nav nav-tabs">
	<li <%= current_page?(wizard_path(:personal)) ? "class='active'" : "" %>>
		<%= link_to "Contact", wizard_path(:personal)%>
	</li>
	<% unless current_user.role == "customer" %>
	<li <%= current_page?(wizard_path(:professional)) ? "class='active'" : "" %>><%= link_to "Professional", wizard_path(:professional)%></li>
	<li <%= current_page?(wizard_path(:trade)) ? "class='active'" : "" %>><%= link_to "References", wizard_path(:trade)%></li>		
	<li <%= current_page?(wizard_path(:categories)) ? "class='active'" : "" %>><%= link_to "Categories", wizard_path(:categories)%></li>
	<% unless current_user.status != EAUserStatusConfirmed %>
		<li <%= current_page?(wizard_path(:signature)) ? "class='active'" : "" %>><%= link_to "Signature", wizard_path(:signature)%></li>		
		<li <%= current_page?(wizard_path(:bank)) ? "class='active'" : "" %>><%= link_to "Bank Account", wizard_path(:bank)%></li>
	<% end %>
	<% end %>
	<li <%= current_page?(wizard_path(:contracts)) ? "class='active'" : "" %>><%= link_to "Contracts", wizard_path(:contracts)%></li>
	<% if current_user.status == EAUserStatusConfirmed || current_user.role == "customer" %>
	<li <%= current_page?(wizard_path(:preferences)) ? "class='active'" : "" %>><%= link_to "Notifications", wizard_path(:preferences)%></li>
	<li <%= current_page?(edit_user_registration_path) ? "class='active'" : "" %>><%= link_to "Change Login", edit_user_registration_path%></li>
	<% end %>
</ul>

<% if current_user.role == "appraiser" && current_user.status != EAUserStatusConfirmed %>
		<div class="alert alert-error" id="applicationNotification" <%= "style='display: none;'" if current_user.is_appraiser_application_complete  %> >
		   <p> <i class="icon-hand-right"></i> Welcome back! To complete your application to be a <b>ValueThisNow.com</b> appraiser:<br>
			<b>Step 1</b>: Complete the four tabbed sections in "My Profile"<br>
			<b>Step 2</b>: Submit your completed "My Profile" for review by our Administrator.
</p>
		</div>
		 <div class="alert alert-info" id="applicationCompleted" <%= "style='display: none;'" unless current_user.is_appraiser_application_complete && current_user.status != EAUserStatusReview  %>>
		    <i class="icon-hand-right"></i> Your application is complete. Please submit it by clicking on the "Save and Submit" button <%= @current_step == :categories ? "located at the bottom of this page" : "in the Categories tab" %>
		</div>
	<% if current_user.status == EAUserStatusReview%>
		<div class="alert alert-success">
		    <i class="icon-hand-right"></i> Your application is under review. Our administrators will contact you soon.
		</div>
	<% end %>
<% end %>
