<ul class="nav nav-tabs">
	<li <%= current_page?(wizard_path(:personal)) ? "class='active'" : "" %>>
		<%= link_to "Contact Information", wizard_path(:personal)%>
	</li>
	<li <%= current_page?(wizard_path(:professional)) ? "class='active'" : "" %>><%= link_to "Appraiser Information", wizard_path(:professional)%></li>
	<li <%= current_page?(wizard_path(:categories)) ? "class='active'" : "" %>><%= link_to "Appraiser Categories", wizard_path(:categories)%></li>
	<li <%= current_page?(wizard_path(:preferences)) ? "class='active'" : "" %>><%= link_to "Notification Preferences", wizard_path(:preferences)%></li>
	<li <%= current_page?(wizard_path(:bank)) ? "class='active'" : "" %>><%= link_to "Bank Account", wizard_path(:bank)%></li>
	<li <%= current_page?(edit_user_registration_path) ? "class='active'" : "" %>><%= link_to "Change Password", edit_user_registration_path%></li>
</ul>