<ul class="nav nav-tabs">
	<li <%= current_page?(wizard_path(:personal)) ? "class='active'" : "" %>>
		<%= link_to "Contact", wizard_path(:personal)%>
	</li>
	<% unless current_user.role == "customer" %>
	<li <%= current_page?(wizard_path(:professional)) ? "class='active'" : "" %>><%= link_to "Professional", wizard_path(:professional)%></li>
	<li <%= current_page?(wizard_path(:trade)) ? "class='active'" : "" %>><%= link_to "References", wizard_path(:trade)%></li>		
	<li <%= current_page?(wizard_path(:categories)) ? "class='active'" : "" %>><%= link_to "Categories", wizard_path(:categories)%></li>
	<% unless current_user.status != EAUserStatusConfirmed %>
		<li <%= current_page?(wizard_path(:signature)) ? "class='active'" : "" %>><%= link_to "Signature", wizard_path(:signature)%></li>		
		<li <%= current_page?(wizard_path(:bank)) ? "class='active'" : "" %>><%= link_to "Bank Account", wizard_path(:bank)%></li>
	<% end %>
	<% end %>
	<% if current_user.status == EAUserStatusConfirmed || current_user.role == "customer" %>
	<li <%= current_page?(wizard_path(:preferences)) ? "class='active'" : "" %>><%= link_to "Notifications", wizard_path(:preferences)%></li>
	<li <%= current_page?(edit_user_registration_path) ? "class='active'" : "" %>><%= link_to "Change Login", edit_user_registration_path%></li>
	<% end %>
</ul>

<% if current_user.role == "appraiser" && current_user.status != EAUserStatusConfirmed %>
	<% if !current_user.is_appraiser_application_complete %>
		<div class="alert alert-error">
		    <i class="icon-hand-right"></i> Please complete your application
		</div>
	<% elsif current_user.is_appraiser_application_complete && current_user.status != EAUserStatusReview%>
		 <div class="alert alert-info">
		    <i class="icon-hand-right"></i> Your application is complete. Please click <%= link_to 'here', submit_application_path, :class => "btn" %> to submit it
		</div>
	<% elsif current_user.status == EAUserStatusReview%>
		<div class="alert alert-success">
		    <i class="icon-hand-right"></i> Your application is under review. Our administrators will contact you soon.
		</div>
	<% end %>
<% end %>
