<ul class="nav nav-tabs">
  <li <%= css_class_for_active_page(path: wizard_path(:personal)) %> ><%= link_to "Profile", wizard_path(:personal) %></li>
  <li <%= css_class_for_active_page(path: wizard_path(:avatar)) %> ><%= link_to "Image", wizard_path(:avatar) %></li>
  <li <%= css_class_for_active_page(path: wizard_path(:professional)) %> ><%= link_to "Professional", wizard_path(:professional) %></li>
  <li <%= css_class_for_active_page(path: wizard_path(:trade)) %> ><%= link_to "References", wizard_path(:trade) %></li>
  <li <%= css_class_for_active_page(path: wizard_path(:bank)) %> ><%= link_to "Bank Account", wizard_path(:bank) %></li>
  <li <%= css_class_for_active_page(path: wizard_path(:signature)) %> ><%= link_to "Signature", wizard_path(:signature) %></li>
  <li <%= css_class_for_active_page(path: wizard_path(:categories)) %> ><%= link_to "Categories", wizard_path(:categories) %></li>
  <li <%= css_class_for_active_page(path: wizard_path(:preferences)) %> ><%= link_to "Notifications", wizard_path(:preferences) %></li>
  <li <%= css_class_for_active_page(path: wizard_path(:contracts)) %> ><%= link_to "Contracts", wizard_path(:contracts) %></li>
  <li <%= css_class_for_active_page(path: edit_user_registration_path) %> ><%= link_to "Email & Password", edit_user_registration_path %></li>
</ul>
