<%= render :partial => "layouts/doc_has_changed" %>
<center>
  <div class="contentBlock">
    <div class="formTop"><span class="title41">Account</span></div>
    <%= render :partial => "appraiser_tabs" %>
    <div class="sub_box">
      <%= simple_form_for @user, :url => wizard_path, :html => {:class => "form-horizontal"} do |f| %>
        <%= render :partial => "validation_errors" %>
        <%= get_cms_content('/payout-notes') %>
      <div class="row-fluid">
        <div class="span6">
          <h3>Paypal Account</h3>
          <%= f.input :paypal_email, label: "Email associated with your Paypal Account", required: true, input_html: {class: "input-xlarge"} %>
        </div>
        <div class="span6"><%= image_tag "paypal3.png" %><%= image_tag "paypal2.png" %></div>
      </div>
      <div class="form-actions">
        <%= link_to "Previous Step", previous_wizard_path, :class => "btn btn-default" %>
        <%= f.submit "Save and Continue", :class => "btn btn-success", :id => "btn_save_bank_step"%>
      </div>
    <% end%> 
    </div>
  </div>
</center>

