<h4>Bank Account</h4>
<div class="sub_box">
<%= render :partial => "appraiser_tabs" %>

	<%= simple_form_for @user, :url => wizard_path, :html => {:class => "form-horizontal"} do |f| %>
	<%= render :partial => "validation_errors" %>

	<%= f.simple_fields_for :appraiser_info, @user.appraiser_info do |a| %>
	<%= a.input :bank_name, :label => "Bank name" %>
	<%= a.input :bank_routing_number, :label => "Routing Number" %>
	<% end %>
	<div class="form-actions">
		<%= f.submit "Continue", :class => "btn btn-success"%>
	</div>
		<% end%> 
</div>
