<%= render :partial => "layouts/doc_has_changed" %>
<div class="sub_box">
<%= render :partial => "appraiser_tabs" %>

	<%= simple_form_for @user, :url => wizard_path, :html => {:class => "form-horizontal"} do |f| %>
	<%= render :partial => "validation_errors" %>

	<%= raw "#{Cms::Page.find_by_full_path('/payout-notes').content}" %>
	
	<h3>Paypal Account</h3>
	<%= f.input :paypal_email, :label => "Email associated with your Paypal Account", :required => true %>
	<div class="form-actions">
		<%= link_to "Previous Step", previous_wizard_path, :class => "btn btn-default" %>
		<%= f.submit "Save and Continue", :class => "btn btn-success", :id => "btn_save_bank_step"%>
	</div>
		<% end%> 
</div>
