<h4>Contact Information</h4>
<div class="sub_box">
  <%= render :partial => "appraiser_tabs" %>
  <div class="alert alert-info">
    <i class="icon-warning-sign"></i>  <strong>NOTICE:</strong> The information entered here is private and will <strong>NOT</strong> be displayed to other users.
  </div>
  <div class="row">
    <div class="span6">
      <%= simple_form_for @user, :url => wizard_path, :html => {:class => "form-horizontal"} do |f| %>
      <%= render :partial => "validation_errors" %>

      <%= f.input :email, :disabled => true
      f.input :name %>

      <%= f.simple_fields_for :appraiser_info, @user.appraiser_info do |a| %>
        <%= a.input :address %>
        <%= a.input :address2, :label => "Addres 2" %>
        <%= a.input :city %>
        <%= a.input :state %>
        <%= a.input :country, :priority => [ "United States" ] %>
        <%= a.input :zip %>
        <%= a.input :phone1, :label => "Phone 1", :input_html => {:class => "phone-input"} %>
        <%= a.input :phone2, :label => "Phone 2", :input_html => {:class => "phone-input"} %>
        <%= a.input :phone3, :label => "Phone 3", :input_html => {:class => "phone-input"} %>
        <%= a.input :fax, :input_html => {:class => "phone-input"} %>
      <% end %>
  </div>
  <div class="span3 div-gravatar">
      <%= image_tag @user.avatar(:small), :size => "180x180", :class => "img-gravatar"%></br>
      <h5>
      <%= link_to new_avatar_path, :class => "btn btn-success btn-mini" do %><i class="icon-camera icon-white"></i> Change your Image<% end %>
      </h5>
  </div>
  <div class="span3">      
  </div>
</div>
<div class="form-actions">
    <%= f.submit "Continue", :class => "btn btn-success"%>
  </div>
<% end%> 