<%= render :partial => "layouts/doc_has_changed" %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="big-title">
      Account
    </div>
    <%= render :partial => "appraiser_tabs" %>
    <% unless current_user.is_rejected? %>
      <% if current_user.is_appraiser? %>
        <div class="alert alert-info">
          <span class="glyphicon glyphicon-warning-sign"></i>  <strong>NOTICE:</strong> This information is primarily for the private use of ValueThisNow.com and will not be made public. Only the appraiser’s name, image and website will be made public.
        </div>
      <% end %>
          <%= simple_form_for @user, :url => wizard_path, :method => :put,  :html => {:multipart => true, :class => "form-horizontal"},
            wrapper: :horizontal_form,
            wrapper_mappings: {
              check_boxes: :horizontal_radio_and_checkboxes,
              radio_buttons: :horizontal_radio_and_checkboxes,
              file: :horizontal_file_input,
              boolean: :horizontal_boolean
            } do |f| %>

            <% if @user.is_appraiser? %>
              <%= f.input :referral_id, label: "Appraiser ID", disabled: true %>
            <% end %>
            <%= f.input :name  %>
            <%= f.input :email %>
            <%= f.simple_fields_for :address, @user.address do |a| %>
              <%= a.input :address, :required => @user.is_appraiser?  %>
              <%= a.input :city, :required => @user.is_appraiser? %>
              <%= a.input :state, :label => "State/Province", :required => @user.is_appraiser? %>
              <%= a.input :country, :priority => [ "United States" ], :required => @user.is_appraiser? %>
              <%= a.input :zip, :label => "Postal Code", :required => @user.is_appraiser? %>
              <%= a.input :phone1, :label => "Phone", :input_html => {:class => "phone-input"}, :required => @user.is_appraiser? %>
            <% end %>
          <%= f.submit "Save and Continue", :class => "btn btn-success pull-right"%>
      <% end %>
    <% end %>
  </div>
</div>

