<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="big-title">
      Account
    </div>
    <%= render :partial => "appraiser_tabs" %>
    <%= simple_form_for @user, :url => wizard_path, :method => :put,  :html => {:multipart => true, :class => "form-horizontal"},
      wrapper: :horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      } do |f| %>
      <% if (!@user.address.phone1.nil? && !@user.address.phone1.blank? && !@user.address.phone1.empty?) %>
        
        <%= f.input :notify_by_sms, :label => @user.is_customer? ? "Please send a text to the cellular number in my profile whenever an apprasial report is completed 
        ".html_safe : "Receive notifications by SMS (SMS notifications will be sent to <b>#{@user.address.phone1}</b>)".html_safe, :inline_label => "Yes"%>


    <% else %>
      <div class="alert alert_phonenumber"><b>Please add a phone number in the Contact tab if you would like to have SMS (text message) notifications sent to your phone.</b></div>
    <% end %>
    <%= f.input :notify_by_email, :label => (@user.is_customer? ? "Please email a copy of my appraisal report to <b>#{@user.email}</b>".html_safe : "Receive notifications by Email (Email notifications will be sent to <b>#{@user.email})</b>".html_safe),  :inline_label => "Yes"%>
    <% if @user.is_appraiser?%>
      <div class="form-group">
        <%= f.label "How often do you want to be notified when a job that is suitable for your skills is available?", class: "col-sm-3" %>
        <div class="col-sm-9">
          <%= f.collection_radio_buttons :next_notification_interval_in_minutes, [['0', ' As they arrive'] ,['1', ' Once an hour'],['4',' Every 6 hours'],['24',' Once per day']], :first, :last, item_wrapper_class: 'checkbox inline' %>
        </div>
      </div>
    <% end %>
    <p>
    <label for="reimburse">NOTE: Value This Now does not reimburse for email or cellular data charges (if any) associated with notifications you elect to receive. Please click to accept.</label>
    <input type="checkbox" name="reimburse" id="accept_reimburse" value="yes" <%= @user.notify_by_email || @user.notify_by_sms ? "checked" : "" %>> Accept
    </p>
    <div class="form-actions">
      <%= f.submit "Save and Continue", :class => "btn btn-success pull-right"%>
    </div>
  <% end%>
</div>
</div>
