<h4>Notification Preferences</h4>
<div class="sub_box">
<%= render :partial => "appraiser_tabs" %>

	<%= simple_form_for @user, :url => wizard_path, :html => {:class => "form-vertical"} do |f| %>
	<%= render :partial => "validation_errors" %>

	<%= f.input :notify_by_sms, :label => "Receive notifications by SMS", :inline_label => "Yes" %>
	<%= f.input :notify_by_email, :label => "Receive notifications by eMail",  :inline_label => "Yes"%>
	<% if @user.role != "user" %>
		<%= f.label "How often do you want to be notified when a job that is suitable for your skills is available?" %>
		<%= f.collection_radio_buttons :next_notification_interval_in_minutes, [['0', 'As they arrive'] ,['1', 'Once an hour'],['4','Every 6 hours'],['24','Once per day']], :first, :last, item_wrapper_class: 'checkbox inline' %>
	<% end %>
	<div class="form-actions">
		<%= f.submit "Continue", :class => "btn btn-success"%>
	</div>
		<% end%> 
</div>
