<h4>Notification Preferences</h4>
<div class="sub_box">
<%= render :partial => "appraiser_tabs" %>

	<%= simple_form_for @user, :url => wizard_path, :html => {:class => "form-vertical"} do |f| %>
	<%= render :partial => "validation_errors" %>
	<% if (!@user.address.phone1.nil? && !@user.address.phone1.blank? && !@user.address.phone1.empty?)%>
	<%= f.input :notify_by_sms, :label => "Receive notifications by SMS (SMS notifications will be sent to <b>#{@user.address.phone1}</b>)<small><br>Note: We do not reimburse appraisers for any voice or data usage</small>", :inline_label => "Yes"%>
	<% else %>
	<div class="alert"><b>Please add a phone number in the Contact tab if you would like to have SMS (text message) notifications sent to your phone.</b></div>
	<% end %>
	<%= f.input :notify_by_email, :label => "Receive notifications by Email (Email notifications will be sent to <b>#{@user.email})</b>",  :inline_label => "Yes"%>
	<% if @user.role != "user" %>
		<%= f.label "How often do you want to be notified when a job that is suitable for your skills is available?" %>
		<%= f.collection_radio_buttons :next_notification_interval_in_minutes, [['0', 'As they arrive'] ,['1', 'Once an hour'],['4','Every 6 hours'],['24','Once per day']], :first, :last, item_wrapper_class: 'checkbox inline' %>
	<% end %>
	<div class="form-actions">
		<%= f.submit "Save and Continue", :class => "btn btn-success"%>
	</div>
		<% end%> 
</div>
