<script type="text/javascript">
  $(function (){ 
    $("#gravatar").popover();
    $('#element').popover();
  });
</script>
<h4>Public Profile</h4>
<div class="sub_box">
  <%= render :partial => "appraiser_tabs" %>
  <div class="alert alert-error">
    <i class="icon-warning-sign"></i>  <strong>NOTICE: </strong> The information entered here will be publicly available throughout the site.
  </div>
  <div class="row">
    <div class="span6">
      <%= simple_form_for @user, :url => wizard_path, :html => {:class => "form-horizontal"} do |f| %>
        <%= render :partial => "validation_errors" %>
        <%= f.simple_fields_for :appraiser_info, @user.appraiser_info do |a| %>
        <%= a.input :public_name, :label => "Name", :required => true %>
        <%= a.input :public_address, :address => "Address" %>
        <%= a.input :public_phone, :label => "Phone" %>
        <%= a.input :public_email %>
      <% end %>
    </div>
    <div class="span3 div-gravatar">
      <a href="http://www.gravatar.com/emails" rel="popover" data-content=" Your Gravatar is an image that follows you from site to site appearing beside your name when you do things like comment or post on a blog." data-original-title="What's a Gravatar?" id="gravatar"><img src="<%= Gravatar.new(@user.appraiser_info.public_email).image_url %>?s=180&d=mm" class="img-gravatar"></a></br>
      <h5><a href="http://www.gravatar.com/emails" class="btn btn-success btn-mini" target="_new"><i class="icon-camera icon-white"></i> Change your gravatar</a></h5>
          
    </div>
    <div class="span3">
      <p>Remember that you can change your Gravatar as many times as you like at <a href="http://www.gravatar.com/emails" target="_new">Gravatar.com</a></p>
      <p>Changes to your Gravatar will take 5 to 10 minutes before they are reflected on our site.</p>
    </div>
  </div>

<div class="form-actions">
    <%= f.submit "Continue", :class => "btn btn-success"%>
  </div>
<% end%> 