<h4>Public Profile</h4>
<div class="sub_box">
  <%= render :partial => "appraiser_tabs" %>
<%= simple_form_for @user, :url => wizard_path, :html => {:class => "form-horizontal"} do |f| %>
<%= render :partial => "validation_errors" %>

<%= f.input :email, :disabled => true
f.input :name %>

<%= f.simple_fields_for :appraiser_info, @user.appraiser_info do |a| %>
  <%= a.input :address %>
  <%= a.input :address2 %>
  <%= a.input :city %>
  <%= a.input :state %>
  <%= a.input :country, :priority => [ "United States" ] %>
  <%= a.input :zip %>
  <%= a.input :phone1 %>
  <%= a.input :phone2 %>
  <%= a.input :phone3 %>
  <%= a.input :fax %>


<% end %>
<div class="form-actions">
    <%= f.submit "Continue", :class => "btn btn-success"%>
  </div>
<% end%> 