<h1>Listing appraisal_activities</h1>

<table>
  <tr>
    <th>Appraisal</th>
    <th>User</th>
    <th>Activity type</th>
    <th>Activity value</th>
    <th>Activity datetime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appraisal_activities.each do |appraisal_activity| %>
  <tr>
    <td><%= appraisal_activity.appraisal %></td>
    <td><%= appraisal_activity.user %></td>
    <td><%= appraisal_activity.activity_type %></td>
    <td><%= appraisal_activity.activity_value %></td>
    <td><%= appraisal_activity.activity_datetime %></td>
    <td><%= link_to 'Show', appraisal_activity %></td>
    <td><%= link_to 'Edit', edit_appraisal_activity_path(appraisal_activity) %></td>
    <td><%= link_to 'Destroy', appraisal_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appraisal activity', new_appraisal_activity_path %>
