<div class="row">
<h4><%= @user.name %>, lets get your items valued!</h4>
</div>
<div class="row">
  <% if @appraisals.empty? %>
  <%= link_to "Get an item evaluated" , new_appraisal_path, :class => "btn btn-primary" %>
  <% else %>
  <%= link_to "Get an item evaluated" , new_appraisal_path, :class => "btn btn-success pull-right" %>
  <h2>What you entered so far:</h2>
  <table class="table table-striped table-condensed ">
    <thead>
      <tr>
        <th>Item</th>
        <th>Item #</th>
        <th>Status</th>
        <th>Date Appraised</th>
        <th>Estimated<br>Retail Value</th>
        <th>Estimated<br>Replacement Value</th>
        <th>Appraisal Type</th>
        <th>Use</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @appraisals.each do |appraisal| %>
      <tr>
        <td><%= link_to image_tag(appraisal.photos.first.asset.url(:thumb)), appraisal.photos.first.asset.url(:original), :title => h(appraisal.name) unless appraisal.photos.count == 0 %></td>
        <td><%= link_to(h(appraisal.name) + " ##{appraisal.id}", appraisal) %></td>
        <td><%= getStringForActivityValue(appraisal.status) %></td>
        <td><%= appraisal.status == EActivityValueFinalized ? distance_of_time_in_words(Time.now,appraisal.updated_at) + " ago" : "-" %></td>
        <td><%= appraisal.status == EActivityValueFinalized ? "#{number_to_currency(appraisal.appraisal_info.fair_market_value_min, :precision => 0)} to #{number_to_currency(appraisal.appraisal_info.fair_market_value_max, :precision => 0)}" : "-" %></td>
        <td><%= appraisal.status == EActivityValueFinalized ? "#{number_to_currency(appraisal.appraisal_info.replacement_cost_min, :precision => 0)} to #{number_to_currency(appraisal.appraisal_info.replacement_cost_max, :precision => 0)}" : "-" %></td>
        <td><%= getStringForAppraisalType(appraisal.selected_plan) %></td>
        <td><%=  %></td>
        <td><%= link_to('Delete', appraisal, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-success btn-mini") %></td>
        <td><% if appraisal.status == EActivityValueCreated %>
              <% @payment = Payment.new %>
              <%= link_to 'Enter Payment', payments_path(@payment, :appraisal_id => appraisal), :class => "btn btn-success btn-mini" %>
              <% end %>
            <% if appraisal.status == EActivityValueFinalized %>
              <% @payment = Payment.new %>
              <%= link_to 'Push to Auction', "http://www.google.com" , :class => "btn btn-success btn-mini" %>
              <% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <% end %>
<%= link_to "Get an item evaluated" , new_appraisal_path, :class => "btn btn-success pull-right" %>
</div>

