%h4 #{h @user.name }, lets get your items valued!
.sub_box
  - if flash.count > 0
    - flash.each do |key, msg|
      %div{:id => key}
      %p= msg

  - if @appraisals.empty?
    #panel
      = link_to "Get an item evaluated" , new_appraisal_path
  - else
    %h2 What you entered so far:
    %table.appraisal_list{:cellpadding => 5, :cellspacing => 0, :border => 0}
      %tr.header
        %th Select
        %th Item
        %th Item#
        %th Status
        %th Date Appraised
        %th Estimated<br>Retail&nbsp;Value
        %th Estimated<br>Replacement&nbsp;Value
        %th Appraisal&nbsp;Type
        %th Actions
      - @appraisals.each do |appraisal|
        %tr{:class => (@appraisals.index(appraisal) % 2 == 0 ? "even" : "odd")}
          %td= check_box_tag("","")
          %td= link_to image_tag(appraisal.photos.first.asset.url(:thumb)), appraisal.photos.first.asset.url(:original), :title => h(appraisal.name), :rel => "lightbox" unless appraisal.photos.count == 0
          %td= link_to(h(appraisal.name) + " ##{appraisal.id}", appraisal)
          %td= getStringForActivityValue(appraisal.status)
          %td= appraisal.status == EActivityValueFinalized ? distance_of_time_in_words(Time.now,appraisal.updated_at) + " ago" : "-"
          %td= number_to_currency(appraisal.value_of_item, :precision => 0)
          %td= number_to_currency(appraisal.value_of_item, :precision => 0)
          %td= getStringForAppraisalType(appraisal.selected_plan)
          %td{:class => "small"}= link_to('Delete', appraisal, :confirm => 'Are you sure?', :method => :delete)
    = link_to 'Create Appraisal', new_appraisal_path, :class => "btn"
