<style type="text/css">
#signature-preview-div {
  width: 250px; height: 100px; overflow:hidden;
  border:1px solid rgba(51, 51, 51, 0.707031);
  -webkit-box-shadow:rgba(0, 0, 0, 0.449219) 1px 1px 1px 1px;
  -moz-box-shadow:rgba(0, 0, 0, 0.449219) 1px 1px 1px 1px;
  box-shadow:rgba(0, 0, 0, 0.449219) 1px 1px 1px 1px;
}
#signature-preview {
  max-width: none;
}

#signature-original-div {
  border:1px solid rgba(51, 51, 51, 0.707031);
  -webkit-box-shadow:rgba(0, 0, 0, 0.449219) 1px 1px 1px 1px;
  -moz-box-shadow:rgba(0, 0, 0, 0.449219) 1px 1px 1px 1px;
  box-shadow:rgba(0, 0, 0, 0.449219) 1px 1px 1px 1px;
  margin-left: 30px;
}
</style>

<%= stylesheet_link_tag("jquery.Jcrop.min") %>
<%= javascript_include_tag("jquery.Jcrop.min") %>
<script type="text/javascript">
var AvatarCropper,
__bind = function(fn, me){ return function(){ return fn.apply(me, arguments); }; };

jQuery(function() {
  return new AvatarCropper();
});

AvatarCropper = (function() {

  function AvatarCropper() {
    this.updatePreview = __bind(this.updatePreview, this);

    this.update = __bind(this.update, this);
    $('#cropbox').Jcrop({
      aspectRatio: 2.5,
      setSelect: [0, 0, 100, 250],
      onSelect: this.update,
      onChange: this.update
    });
  }

  AvatarCropper.prototype.update = function(coords) {
    $('#user_crop_x').val(coords.x);
    $('#user_crop_y').val(coords.y);
    $('#user_crop_w').val(coords.w);
    $('#user_crop_h').val(coords.h);
    return this.updatePreview(coords);
  };

  AvatarCropper.prototype.updatePreview = function(coords) {
    var rx = 250 / coords.w;
    var ry = 100 / coords.h;

    return $('#signature-preview').css({
      width: Math.round(250/coords.w * $('#cropbox').width()) + 'px',
      height: Math.round(100/coords.h * $('#cropbox').height()) + 'px',
      marginLeft: '-' + Math.round(rx * coords.x) + 'px',
      marginTop: '-' + Math.round(ry * coords.y) + 'px'
    });
  };

  return AvatarCropper;

})();
</script>
<h4>Crop Signature</h4>
<div class="sub_box">

  <div class="row">
    <div class="span6" id="signature-original-div">
      <%= image_tag @user.signature(:standard), id: "cropbox" %>
    </div>
    <div class="span6 pull-right">

      <div id="signature-preview-div">
        <%= image_tag @user.signature.url(:standard), :id => "signature-preview"%>
      </div>
      <h4 style="margin-left: 95px;">Preview</h4>
      <%= simple_form_for @user, :url => crop_signature_path  do |f| %>
      <% %w[x y w h].each do |attribute| %>
      <%= f.input "crop_#{attribute}", :as => :hidden %>
      <% end %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit "Crop", :class => "btn btn-success" %>
  </div>
  <% end %>
</div>