<div class="row">
  <div class="col-md-10 col-md-offset-1 big-title">
    Become an appraiser
  </div>
   <br>
   <br>
   <br>

  <div class="col-md-10 col-md-offset-1">
    <div class="medium-title">
      Become a ValueThisNow.com Appraiser
    </div>

      <div class="row">
        <div class="col-md-12">

          <br>
          <a class="btn btn-success pull-left" id="apply_now_btn" href="#application"> Apply Now </a>
          <br>
          <br>

          <p> ValueThisNow.com seeks professional appraisers or subject matter experts who have extensive product knowledge as well as appraisal skills to evaluate and value objects via the Internet making use of client-provided images and descriptive information. In order to qualify as a ValuethisNow.com appraiser, one must possess the following skill set:
          </p>

          <ul>
            <li> Have extensive product knowledge regarding the property types chosen to appraise. </li> <br>
            <li> Have market-related experience such as frequent interface with online auctions, traditional auction galleries, trade shows, specialty clubs, specialty periodicals, and other experts, dealers and collectors who also specialize in the chosen categories. </li> <br>
            <li> Be computer literate and have the ability to communicate quickly and professionally via email or via online forms. Appraisers must be able to send email attachments, and have word processing and writing skills including making use of good grammar, sentence structure and spelling. </li> <br>
          </ul>

          <p>
            <b> Appraisal Provider Agreement </b>
          </p>

          <p>
            <%= link_to "The Appraisal Provider Agreement", appraisal_provider_agreement_path %>
            is made and entered into by and between Collosses LLP, a California corporation (the "Company"), and the individual applying as an appraiser.
          </p>

          <p>
            <b> Commitment to Preserving the Public's Trust in Appraising </b>
          </p>

          <p>
            As an Appraisal Management Company, ValueThisNow.com supports The Appraisal Foundation's Uniform Standards of Professional Appraisal Practice (USPAP's) goal of preserving the public's trust in the appraisal profession. We recognize that reports developed and prepared in conformance with USPAP are likely to be credible, reliable, understandable and not-misleading. The result is the preservation of public trust in the appraisal profession. To this end, ValueThisNow.com helps its appraisers meet their society-mandated requirement to comply with USPAP. ... 
            <%= link_to "more", "#" %>
          </p>

          <p>
            <b> Types of appraisals </b>
          </p>

          <p>
            <ul>
              <li>
                Clients of ValueThisNow.com can elect to purchase either a light "short" version of the appraisal or a full "long" version. The difference is the amount and detail of information provided by the client. ...
                <%= link_to "more", "#" %>              
              </li>

              <br>

              <li>
                Clients can also elect to purchase either a restricted use report (i.e., one for their private use only) or a full report (i.e., one for use to prove value to others.) ... 
                <%= link_to "more", "#" %>
              </li>
            </ul>
          </p>

          <p>
            <b> Limitations in the use of online appraisals </b>
          </p>

          <p>
            While there are no limitations to the types of property that can be appraised online IF the property is no longer available such as would be the case if the property had been destroyed in a fire or had been stolen, there are practical limitations to the use of online appraisals for items that ARE STILL available for inspection. ... 
            <%= link_to "more", "#" %>
          </p>

          <p>
            <b> Sample Appraisal Report Form </b>
          </p>

          <p>
            The appraisal report form consists of a series of dialog boxes. Some are auto-filled from input provided by the client. Some are grayed out which means that you cannot edit the content. Others are not grayed out. These are fields you are free to edit and/or add information.
          </p>

          <p>
            <%= link_to "Here is an example", "#" %>
            of the form we use.
          </p>

          <p>
            Note that at the top of the form is the appraisal <b>"Type"</b>.
          </p>

          <ul>
            <li>
              If it is a <b>"Light"</b> appraisal, include sufficient information in the COMMENT dialog box to make the report understandable, credible and not-misleading, but
            </li>
            <br>
            <li>
              If it is a <b>"Full"</b> appraisal, the client has paid extra, so be sure to provide an extensive narrative in the COMMENT dialog box.
            </li>
          </ul>

          <p>
            <b> Examples of Supplementary Information </b>
          </p>

          <p>
            <%=  link_to "Here is an example", "#" %>
               of a completed appraisal report as received by the customer. Note the supplementary information. All appraisals must have supplementary information to ensure the report is credible and understandable. Depending on the intended use of our reports and whether or not the appraiser has a societal mandate to comply with USPAP, the supplementary information will vary. ... 
            <%= link_to "more", "#" %>
          </p>

          <p>
            <b> How the ValueThisNow.com appraisal process works </b>
          </p>

          <p>
            VTN incorporates an efficient process by which appraisers are quickly notified of a incoming appraisal request ... 
            <%= link_to "more", "#" %>
          </p>

          <p>
            <b> Determining value </b>
          </p>

          <p>
            <%= link_to "Click here", "#" %>
             to read our guidelines for determining value.
          </p>

          <p>
            <b> Payment to appraisers </b>
          </p>

          <p>
            Appraisers/experts are paid on the 15th of the month for completed appraisals. Email 
            <%= link_to "Admin", "#" %>
             for compensation schedule.
          </p>

          <p>
            <b> Going on vacation? </b>
          </p>

          <p>
            If you will not be available to accept appraisal requests there is nothing you need do. Simply stop accepting assignments. They will be claimed by other appraisers.
          </p>

          <p>
            <b> Avoid conflict of interest </b>
          </p>

          <p>
            Appraisers must at all times be independent, impartial, must not be an advocate and must not have a personal interest in the property being appraised. To this end, appraisers may not purchase items they appraise. Please review ValueThisNow.com's 
            <%= link_to "Code of Ethics", "#" %>
             for our appraisers.
          </p>

          <p>
            <b> Appraiser profile </b>
          </p>

          <p>
            The "Appraiser Profile" feature of ValueThisNow.com will include appraiser information such as the appraiser's name, photo, societal affiliations and professional profile.
          </p>

          <p>
            <b>  Completion time </b>
          </p>

          <p>
            For appraisals, our goal is that the client receive their appraisal report within 48 hours. The time begins with the initial submission of the assignment request or runs from the time the assignment is re-submitted with the additional information requested by the appraiser.
          </p>

          <p>
            <b> Knowledge Base </b>
          </p>

          <p>
            <%= link_to "Here is the VTN Knowledge Base", "#" %>
             which consists of tips and suggestions for appraisers regarding preparing online appraisals for ValueThisNow.com. Please check this page periodically as it is updated from time to time.
          </p>

          <a name="application" id="application"></a>

          <hr>


        </div>
      </div>

    </div>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-1 medium-title">
    Sign up below to get started as a Value This Now appraiser.
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"},
      wrapper: :horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      } do |f| %>

      <%= f.input :name %>
      <%= f.input :email %>
      <%= f.input :password, as: :password, hint: "Must have at least 6 characters: at least 1 digit, at least 1 upper case letter."%>
      <%= f.input :password_confirmation, as: :password, label: "Confirm Password" %>
      <div class="form-group">
        <label for="appraisal-provider-agreement" class="col-sm-3 control-label"></label>
        <div class="col-sm-9">
           <div style="width:520px;" class="longTxtBox">
                <%= raw get_cms_content('/appraisal-provider-agreement') %>
            </div>
        </div>
      </div>
      <%= f.input :agree_to_provider_agreement, as: :boolean, label: "I have read and agree to the Appraisal Provider Agreement.", required: true %>
      <%= f.input :agree_to_code_of_ethics, :as => :boolean, :label => raw("I comply with the #{link_to 'Appraiser Code of Ethics', ethics_path}"), required: true %>
      <%= f.submit "Sign Up", :class=> "btn btn-success pull-right hidden-xs"%>
      <%= f.submit "Sign Up", :class=> "btn btn-success btn-block visible-xs"%>
    <% end %>
  </div>
</div>
