<style type="text/css">
body {
	background: none;
}

#daveprofile {
	-webkit-box-shadow:rgba(0, 0, 0, 0.40625) 1px 1px 2px 2px;
	-moz-box-shadow:rgba(0, 0, 0, 0.40625) 1px 1px 2px 2px;
	box-shadow:rgba(0, 0, 0, 0.40625) 1px 1px 2px 2px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	float: right;
	margin-left: 15px;
	margin-top: 5px;
	width: 110px;
	height: 152px ;
}
#part2 {
	margin-top: 20px;
}
p {
	padding-bottom: 15px;
}
#purpose li {
	color: #878889;
	list-style: none;
}

.thumbnails li a {
	height: 125px;
}
</style>
<div class="page-header">
<h1>Value This Now</h1>
<h2>World's largest open platform social appraisal network</h2>
</div>
<div>
	<ul class="thumbnails">
		<li class="span2"><a href="#" class="thumbnail">
      <%= image_tag "books.jpg" %>
    </a></li>
    <li class="span2"><a href="#" class="thumbnail">
      <%= image_tag "coins.jpg" %>
    </a></li>
    <li class="span2"><a href="#" class="thumbnail">
      <%= image_tag "guns.jpg" %>
    </a></li>
    <li class="span2"><a href="#" class="thumbnail">
      <%= image_tag "sporting.jpg" %>
    </a></li>
    <li class="span2"><a href="#" class="thumbnail">
      <%= image_tag "vintage.jpg" %>
    </a></li>
    <li class="span2"><a href="#" class="thumbnail">
      <%= image_tag "watches.jpg" %>
    </a></li>
	</ul>
</div>
<div>
<p>ValueThisNow.com is a Northern California software company that is seeking to network a very large number of personal property appraisers and subject matter experts together in an online social media manner. ValueThisNow.com will create a new streamlined appraisal process that will enable consumers to more easily and more quickly learn about their antiques or collectibles and their relative value.  It could also create a new and dynamic revenue stream for appraisers.</p>

<p><%= image_tag "daveprofile.png", :id => "daveprofile" %>The project’s founders along with a small team of software developer have completed a working prototype and a core strategy that has been twenty-four months in the making.  This project has been a collaborative effort between ValueThisNow.com and one of the nation’s leading experts on personal property appraising, Certified Appraiser Dave Maloney.</p>


<p>Dave has over 30 years experience as a personal property appraiser and is author of online courses and training videos for the personal property appraiser. He is also author of the award winning book, “Appraising Personal Property: Principles &and; Methodology,” now in its 5th edition. His involvement will help ensure that we generate reports that comply with the Uniform Standards of Professional Appraisal Practice (USPAP) for those appraisers who are so obligated by societal requirements.
</p>

<div id="part2">
<p>Our team has designed a cutting edge approach that will be a quantum leap forward in the way people learn about the value and significance of their antiques, collectibles and other treasures: </p>

<blockquote><p>“Our team has designed a process to rapidly yet professionally appraise personal property in a manner that fully conforms to the restricted use and summary report format requirements of USPAP. ValueThisNow.com makes use of an online social media platform that features an open enrollment process for qualified appraisers and subject matter experts” <small>ValueThisNow.com founder and CEO, Richard Johnston</small></p></blockquote>
</div>

<p>Now that the program is entering into alpha test pilot phase, ValueThisNow.com is seeking a small group of highly qualified, generalist appraisers and subject matter experts to conduct a pre beta test of our application.  The purpose of the test will be as follows: 
<ul id="purpose">
<li><i class="icon-chevron-right"></i> To help us debug the software code while doing “light load testing” of the appraisal engine.</li>
<li><i class="icon-chevron-right"></i> To provide us with feedback on the functionality of the service from an appraiser and a consumer standpoint.</li>
<li><i class="icon-chevron-right"></i> To help us create a proof-of-concept to the investment community in order to fund further research and development.</li>
<li><i class="icon-chevron-right"></i> To help us understand the best approach to create a viral marketing and distribution strategy for this service.</li>
</ul>
</p>
<p>Participants in this program have been hand-selected by Dave Maloney for their knowledge and experience as appraisers/experts. This small and elite group of appraisers and experts will gain first-adopter advantages including being the first in line to be an authorized ValueThisNow.com appraiser at the time of our official launch.</p>
<p>This is an opportunity for each of you to create a potentially large secondary revenue stream and to help develop a revolutionary new appraisal product that promises to become the gold standard in the online personal property appraisal business. </p>
<p>Should you wish to learn more about the program, please contact Dave Maloney (dave@maloney.com) for information about the next steps. </p>
<p>Thank you for considering this offer and for your potential interest in our partner program.</p>
<p>Sincerely</p>
<div class="row">
	<div class="span6" >
		<%= image_tag"ricksignature.png", :class => "pull-left" %>
	</div>
	<div class="span6">
		<%= image_tag "davesignature.png", :class => "pull-right"%>
	</div>
</div>
<div class="row">
		<div class="span6" style="text-align:center;">
		<h4>Richard Johnston</h4>
		<h5>ValueThisNow.com / Founder and CEO</h5>
	</div>
	<div class="span6" style="text-align:center;">
		<h4>Dave Maloney, AOA CM</h4>
		<h5>Chief Appraisal Consultant </h5>
	</div>
</div>
</div>