<div style="text-align: left;">
  <!-- Home block 1 -->
  <div id="homeblock1">
    <div class="div_homeTitle">
      <span class="homeTitle">Online appraisals made easy</span>
    </div>
    <br /> <br />
    <%= link_to "Sign in / Sign up to get an appraisal", main_app.new_user_session_path, class: "bigYellow", style: "text-decoration:none;" %>
    <br />
    <div id="homeVideo"><iframe width="538" height="302" src="https://www.youtube.com/embed/5q8XwHpGMZY?rel=0" frameborder="0" allowfullscreen></iframe></div>
    <div id="homeItem" class="item1">
      <div id="homeValueBlock">
        Chinese Ming style Meiping form vase appraised at $3,500<br>
        <%= link_to "What's your item worth?", main_app.new_user_session_path %></a>
    </div>

    <div id="homeSocial">
      <a href="http://www.facebook.com/ValueThisNow" title="Visit our Facebook page."><span id="hS1"></span></a>
      <a href="http://www.twitter.com/valuethisnow" title="See our twitter feed."><span id="hS2"></span></a>
      <a href="http://pinterest.com/valuethisnow" title="See our Pinterest board."><span id="hS3"></span></a>
    </div>
  </div>
</div>
<%= render partial: 'layouts/featured_coupon'  %>
<!-- Middle 2 -->
<div class="homeBg1">
  <center>
    <div class="contentBlock homeContentBlock" style="padding-left:0px; padding-right:0px;">
      <div>
        <div class="homeHow1">
          <span class="title27">Tell us about your item online</span><Br />
          Fill out our appraisal form and let us know as much information about the item as you have. One or more digital photos of your item is all you need.
        </div>
        <br /><br />
        <div class="homeHow2">
          <span class="title27">Our experts will appraise it. It's that simple!</span><br />
          You will receive a professional appraisal of your item which will help you see its true value. <br />
          <%= link_to 'Learn more about online appraisals.', how_path(role: 'consumer') %>
        </div>
        <br />
        <div style="padding-left:90px;">
          <%= link_to "Sign in / Sign up to get an appraisal", main_app.new_user_session_path, class: "bigYellow smallYellow", style: "text-decoration:none;" %>
          <br /><br />
        </div>
      </div>
    </div>
  </center>
</div>
<!-- Middle 3 -->
<div class="homeBg2">
  <center>
    <div class="contentBlock homeContentBlock" style="padding-bottom:0px;">
      <div class="div_title38">
        <span class="title38">Appraisals give you more than just a value</span><br />
      </div>
      <div style="background:url(<%= image_path("h_items.png") %>) no-repeat bottom right; padding-right:380px;">
        <%= get_cms_content('/index-block-1') %>
      </div>
    </div>
  </center>
</div>
<!-- Middle 4 -->
<div class="homeBg1">
  <center>
    <div class="contentBlock homeContentBlock">
      <div class="div_title38">
        <span class="title38" style="padding-left:250px;">The Value This Now Advantage</span>
      </div>
      <div>
        <p>
        <img id="Image-Maps_2201308291251585" src="<%= image_path("h_logos.png") %>" usemap="#Image-Maps_2201308291251585" border="0" width="200" height="121" alt="" style="float:left; margin-right: 50px;" />
        <map id="_Image-Maps_2201308291251585" name="Image-Maps_2201308291251585">
          <area shape="poly" coords="93,0,52,20,41,52,44,74,0,75,0,105,62,107,89,120,129,115,147,104,130,103,140,69,162,68,160,41,146,20,124,2," href="http://en.wikipedia.org/wiki/Uniform_Standards_of_Professional_Appraisal_Practice" alt="1" title="1" onfocus="blur();" />
            <area shape="poly" coords="187,110,198,89,196,70,181,69,163,71,151,68,144,67,132,102,143,110,174,113,160,113," href="http://www.aoaonline.org" alt="2" title="2" onfocus="blur();" />
            </map>
            <%= get_cms_content('/index-block-2') %>
            </p>
            <br /><br /><br /><br />
          </div>
        </div>
      </center>
    </div>
  </div>
