-#:javascript
-#  $(document).ready(function() {
-#    $('a.login-window').click(function() {
-#      //Getting the variable's value from a link
-#      var loginBox = $(this).attr('href');
-#
-#      //Fade in the Popup
-#      $(loginBox).fadeIn(300);
-#
-#      //Set the center alignment padding + border see css style
-#      var popMargTop = ($(loginBox).height() + 24) / 2;
-#      var popMargLeft = ($(loginBox).width() + 24) / 2;
-#
-#      $(loginBox).css({
-#        'margin-top' : -popMargTop,
-#        'margin-left' : -popMargLeft
-#      });
-#
-#      // Add the mask to body
-#      $('body').append('<div id="mask"></div>');
-#      $('#mask').fadeIn(300);
-#
-#      return false;
-#    });
-#
-#    // When clicking on the button close or the mask layer the popup closed
-#    $('a.close, #mask').live('click', function() {
-#      $('#mask , .login-popup').fadeOut(300 , function() {
-#        $('#mask').remove();
-#      });
-#      return false;
-#    });
-#  });

.home_box
  .homephoto
    %p
      = image_tag("watch.jpg", :alt => "", :width => 369, :height => 346)
  .home_tagline
    %p Online Appraisals
    %p In 3 Easy Steps
  .steps
    %p
      = image_tag("1.png", :width => 40, :height => 40, :align => "left") + " Enter information and upload photos of your collectible."
    %p
      = image_tag("2.png", :width => 40, :height => 40, :align => "left") + " An appraiser specific to that category of item is automatically assigned to your collectible."
    %p
      = image_tag("3.png", :width => 40, :height => 40, :align => "left") + " You receive a certified valuation of your collectible."
  .hbut1
    .Button= link_to("Create Appraisal Now", new_user_session_url, :class => "login-window")
    .Button= link_to("Sign Up Now", new_user_registration_path, :class => "login-window")
  .socialgroup_icons
    = link_to(image_tag("icons/google-plus.png", :width => 32, :height => 32) + image_tag("icons/twitter.png", :width => 32, :height => 32) + image_tag("icons/facebook.png", :width => 32, :height => 32))

-##login-box{:class => "login-popup"}
-#  =link_to("Close", "#", :class => "close")
-#    %fieldset.textbox
-#      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
-#        %p{:align => "right"}
-#          = f.label :email, :class => "username"
-#          = f.email_field :email, :autocomplete => "on", :placeholder => "Email"
-#        %p{:align => "right"}
-#          = f.label :password, :class => "password"
-#          = f.password_field :password, :placeholder => "Password"
-#        - if devise_mapping.rememberable?
-#          %p
-#            = f.check_box :remember_me
-#            = f.label :remember_me
-#        %p= f.submit "Sign in", :class => "submit button"
-#      = render :partial => "devise/shared/links"

