<h1>Listing trade_references</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Phone</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trade_references.each do |trade_reference| %>
  <tr>
    <td><%= trade_reference.company %></td>
    <td><%= trade_reference.contact %></td>
    <td><%= trade_reference.phone %></td>
    <td><%= trade_reference.user %></td>
    <td><%= link_to 'Show', trade_reference %></td>
    <td><%= link_to 'Edit', edit_trade_reference_path(trade_reference) %></td>
    <td><%= link_to 'Destroy', trade_reference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Trade reference', new_trade_reference_path %>
