<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @trade_reference.company %>
</p>

<p>
  <b>Contact:</b>
  <%= @trade_reference.contact %>
</p>

<p>
  <b>Phone:</b>
  <%= @trade_reference.phone %>
</p>

<p>
  <b>User:</b>
  <%= @trade_reference.user %>
</p>


<%= link_to 'Edit', edit_trade_reference_path(@trade_reference) %> |
<%= link_to 'Back', trade_references_path %>
