<div class="row">
  <div class="col-md-10 col-md-offset-1 big-title">
    Login
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-1 login-div">
    <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' },
      wrapper: :horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      } do |f| %>
      <%= f.input :email, label: 'Email Address' %>
      <%= f.input :password %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.submit "Sign In", :class=> "btn btn-success pull-right hidden-xs"%>
      <%= f.submit "Sign In", :class=> "btn btn-success btn-block visible-xs"%>
    <% end %>
  </div>

  <div class="col-md-5">
   <!--  <div class="fb-div">
      <%#= link_to omniauth_authorize_path(:customer, :facebook) do %><%#= image_tag "b_fb.jpg" %><%# end %>
    </div> -->
      <div class="social-button-div">
        <%= link_to customer_omniauth_authorize_path(:facebook), class: "btn btn-block btn-social btn-lg btn-facebook" do %>
          <i class="fa fa-facebook"> </i>
          Sign in with Facebook
        <% end %>
      </div>
      <br>
      <div class="social-button-div">  
        <%= link_to customer_omniauth_authorize_path(:twitter), class: "btn btn-block btn-social btn-lg btn-twitter" do %>
          <i class="fa fa-twitter"> </i>
          Sign in with Twitter
        <% end %>
      </div>
      <br>
      <div class="social-button-div">  
        <%= link_to customer_omniauth_authorize_path(:linkedin), class: "btn btn-block btn-social btn-lg btn-linkedin" do %>
          <i class="fa fa-linkedin"> </i>
          Sign in with LinkedIn
        <% end %>
      </div>
  </div>
  
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>