<div class="row">
  <div class="col-md-10 col-md-offset-1 big-title">
    Login
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-1 login-div">
    <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' },
      wrapper: :horizontal_form,
      wrapper_mappings: {
        check_boxes: :horizontal_radio_and_checkboxes,
        radio_buttons: :horizontal_radio_and_checkboxes,
        file: :horizontal_file_input,
        boolean: :horizontal_boolean
      } do |f| %>
      <%= f.input :email, label: 'Username' %>
      <%= f.input :password %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      <%= f.submit "Sign In", :class=> "btn btn-success pull-right hidden-xs"%>
      <%= f.submit "Sign In", :class=> "btn btn-success btn-block visible-xs"%>
    <% end %>
  </div>
  <div class="col-md-6">
    <div class="fb-div">
      <%= link_to omniauth_authorize_path(:customer, :facebook) do %><%= image_tag "b_fb.jpg" %><% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1 text-center">
    <%= render "devise/shared/links" %>
  </div>
</div>
