<style type="text/css">
.loginBox {
	background-color:#fff;
	margin-top: 9px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 2px 2px 1px #ccc;
	-webkit-box-shadow: 2px 2px 1px #ccc;
	box-shadow: 2px 2px 1px #ccc;
	visibility: inherit;
	border: thin outset #ccc;
	padding: 10px;
	height: 300px;
}
</style>
<h4>Sign In</h4>
<div class="row">
	<div class="span5 loginBox">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal' }) do |f| %>
    <div class="form-inputs">
	    <%= f.input :login, :required => true, :autofocus => true, :label => "Username" %>
		<%= f.input :password, :required => true %>
	    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
    </div>
    <div class="form-actions">
	    <%= f.button :submit, "Sign in", :class => "btn btn-success"%>
    </div>
	<% end %>

	<%= render "devise/shared/links" %>
	</div>
	<div class="span1" style="text-align: center; line-height:350px;">
		<b>or<b>
	</div>
	<div class="span5 loginBox">
		<div>	
			<%= link_to omniauth_authorize_path(:customer, :facebook) do %><%= image_tag "facebook_sign_in.png" %><% end %>
		</div>
	</div>
</div>