<%= simple_form_for(@payment, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> Payment error:</h2>
      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% # TODO Move this to global flash notices %>    
  <% flash.each do |key, msg| %>
  <div id="<%=key%>">
  	<p><%=msg%></p>
  </div>  
  <% end %>
  <% flash.clear %>
  
  <div class="form-inputs">
  <%= f.input :number, :label => "Credit Card Number", :input_html => {:maxlength => 16} %>
  <%= f.input :cvv, :label => "CVV", :input_html => {:maxlength => 4} %>
  <%= f.input :expmon, :label => "Expiration Month", :as => :select, :collection => 1..12 %>
  <% date = Time.now %>
  <%= f.input :expyear, :label => "Expiration Year", :as => :select, :collection => date.year..date.year+10 %>
  <%= f.input :appraisal_id, :as => :hidden,  :input_html => {:value => @appraisal.id} %>
  </div>
  <div class="form-controls">
           <a href="#" class="btn btn-success" onclick="document.forms['new_payment'].submit();">Send Appraisal</a></div>
  </div>
<% end %>
