<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :appraisal %><br />
    <%= f.text_field :appraisal %>
  </div>
  <div class="field">
    <%= f.label :is_charged %><br />
    <%= f.check_box :is_charged %>
  </div>
  <div class="field">
    <%= f.label :auth_code %><br />
    <%= f.text_field :auth_code %>
  </div>
  <div class="field">
    <%= f.label :ccnum %><br />
    <%= f.text_field :ccnum %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :is_refund %><br />
    <%= f.check_box :is_refund %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
