<%= simple_form_for(@payment, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @payment.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(@payment.errors.count, "error") %> Payment error:</h2>
  <ul>
    <% @payment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
  <% end %>
  </ul>
</div>
  <% end %>

<% # TODO Move this to global flash notices %>    
<% flash.each do |key, msg| %>
  <div id="<%=key%>">
  <p><%=msg%></p>
</div>  
  <% end %>
<% flash.clear %>
<input type="hidden" name="appraisal_price" id="appraisal_price" value="<%= PAYMENT_PLAN[ @appraisal.selected_plan-1] %>" />
<div class="form-inputs">
  <div class="row">
    <div class="span5">
      <%= f.input :number, :label => "Credit Card Number", :input_html => {:maxlength => 16} %>
      <%= f.input :cvv, :label => "CVV", :input_html => {:maxlength => 4} %>
      <%= f.input :expmon, :label => "Expiration Month", :as => :select, :collection => 1..12 %>
      <% date = Time.now %>
      <%= f.input :expyear, :label => "Expiration Year", :as => :select, :collection => date.year..date.year+10 %>
      <%= f.input :appraisal_id, :as => :hidden,  :input_html => {:value => @appraisal.id} %>
    </div>
    <div class="span5">
      <%= f.input :address %>
      <%= f.input :company %>
      <%= f.input :phone %>
      <%= f.input :zip %>
      <%= f.input :city %>
      <%= f.input :country %>
      <%= f.input :state %>
    </div>
  </div>
  <div class="row">
    <div class="span5"></div>
    <div class="span6" id="payment-coupon-div">
      <%= f.input :coupon, label: "If you have a coupon please enter the 16 character code", input_html: {maxlength: 16, value: @featured_coupon_code  }, hint: "" %>
    </div>
  </div>
  <div class="row">
    <div class="span10 pull-right">
      <table class="table">
        <tr>
          <td class="pull-right">Appraisal Cost</td>
          <td id="td_appraisal_cost"><%= number_to_currency(PAYMENT_PLAN[ @appraisal.selected_plan-1]) %></td>
        </tr>
        <tr id="div_discount_amount">
          <td class="pull-right">Discount</td>
          <td id="td_appraisal_discount"><%= number_to_currency(0) %></td>
        </tr>
        <tr>
          <td class="pull-right"><b>Total</b></td>
          <td id="td_appraisal_total"><b><%= number_to_currency(PAYMENT_PLAN[ @appraisal.selected_plan-1]) %></b></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="form-actions">
    <a href="#" class="btn btn-success pull-right" onclick="document.forms['new_payment'].submit();">Appraise Now</a></div>
</div>
<% end %>

<script type="text/javascript" charset="utf-8">
$(document).ready(function(){
  $(
});
</script>
