<h2>Categories vs Categories</h2>
<form id="frmAppraisalActions" action="<%= url_for appraisers_notify_path %>" method="post" >
    <p><label for="comments">Send notification to all appraisers in selected category</label></p>
    <p><textarea rows="4" cols="50" name="comments" value=""></textarea></p>
    <input type="submit" value="Notify" id="btnNotify" class="my_btn">


<table class="index_table">
	<thead>
		<tr>
			<th colspan=2 width="60%">Category</th>
			<th>Appraisers</th>
		</tr>
	</thead>
	<tbody>
		<% Category.order(:name).each do |category| %>
		<tr class="<%= cycle("odd", "even") %>">
      <td><%= radio_button_tag 'notify_category', category.id %></td>
			<td><%= category.name %></td>
			<td>
				<ul>
				<% category.skills.each do |skill|
					user = Appraiser.confirmed.find_by_id(skill.appraiser_id) 
					unless user.nil? %>
					<li><%= link_to user.name, admin_appraiser_path(user) %></li>
					<% end %>
				<% end %>
				</ul>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
</form>
