<% if !current_user.superadmin? %>
  <b>You are not authorized</b>
<% else %>
  <style type="text/css" media="all">
    TR.even { background-color: #ddd; }
    TR.odd { background-color: #AAd; }
  </style>
  <% start_year = year.to_i %>
  <% end_year = start_year+1 %>
  <h1>Reports</h1>
  <!-- Appraisals by type -->
  <% @appraisals = Appraisal.complete.where("created_at between ? and ?", "#{start_year}-01-01 00:00:01 -0600", "#{end_year}-01-01 00:00:01 -0600").order("created_at, id")
  @appraisals_years = @appraisals.group_by {|t| t.created_at.beginning_of_year} %>
  <% @appraisals_years.sort.each do |year, appraisals| %>
  <h2>Appraisals for <%= "#{year.strftime('%Y')} (#{appraisals.count})" %></h2>
  <table>
    <thead>
      <tr>
        <th>Month</th>
        <% APPRAISAL_PLANS.sort.each do |plan_id| %>
          <th><%= getStringForAppraisalType(plan_id).gsub(/ Appraisal/,'') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% appraisals.group_by{|t| t.created_at.beginning_of_month}.sort.each do |month,appraisals|
        result = Hash.new(0)
        appraisals.each {|x| result[x.selected_plan] += 1 }
      %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= "#{month.strftime('%B')} (#{appraisals.count})"  %></td>

      <% APPRAISAL_PLANS.sort.each do |plan_id| %>
        <td><%= result[plan_id] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  </table>
  <% end %>
  <!-- End Appraisals by type -->
  <!-- Revenue and profit per type -->
  <% @appraisals_years = @appraisals.group_by {|t| t.created_at.beginning_of_year} %>
  <% @appraisals_years.sort.each do |year, appraisals| %>
  <h2>Company Gross Revenues for <%= "#{year.strftime('%Y')}" %></h2>
  <table>
    <thead>
      <tr>
        <th>Month</th>
        <% APPRAISAL_PLANS.sort.each do |plan_id| %>
          <th><%= getStringForAppraisalType(plan_id).gsub(/ Appraisal/,'') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @totals = Hash.new(0)
        appraisals.group_by{|t| t.created_at.beginning_of_month}.sort.each do |month,appraisals|
        result = Hash.new(0)
        appraisals.each {|x| result[x.selected_plan] += x.payment.amount; @totals[x.selected_plan] += x.payment.amount; }
      %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= "#{month.strftime('%B')} (#{number_to_currency(result.inject(0){|sum,x| sum + x[1]})})"  %></td>

      <% APPRAISAL_PLANS.sort.each do |plan_id| %>
        <td><%= number_to_currency(result[plan_id]) %></td>
      <% end %>
  </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th>Totals (<%=number_to_currency(@totals.inject(0){|sum,x| sum + x[1]}) %>)</th>
    <% APPRAISAL_PLANS.each do |plan_id| %>
    <th><%= number_to_currency(@totals[plan_id]) %></th>
  <% end %>
  </tfoot>
  </table>
  <% end %>
  <!-- End Appraisals by type -->
   <!-- Profit per type -->
  <% @appraisals_years = @appraisals.group_by {|t| t.created_at.beginning_of_year} %>
  <% @appraisals_years.sort.each do |year, appraisals| %>
  <h2>Company Gross Profits for <%= "#{year.strftime('%Y')}" %></h2>
  <table>
    <thead>
      <tr>
        <th>Month</th>
        <% APPRAISAL_PLANS.sort.each do |plan_id| %>
          <th><%= getStringForAppraisalType(plan_id).gsub(/ Appraisal/,'') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @totals = Hash.new(0)
        appraisals.group_by{|t| t.created_at.beginning_of_month}.sort.each do |month,appraisals|
        result = Hash.new(0)
        appraisals.each {|x| result[x.selected_plan] += x.payment.amount - x.payout_amount; @totals[x.selected_plan] += x.payment.amount - x.payout_amount; }
      %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= "#{month.strftime('%B')} (#{number_to_currency(result.inject(0){|sum,x| sum + x[1]})})"  %></td>

      <% APPRAISAL_PLANS.sort.each do |plan_id| %>
        <td><%= number_to_currency(result[plan_id]) %></td>
      <% end %>
  </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th>Totals (<%=number_to_currency(@totals.inject(0){|sum,x| sum + x[1]}) %>)</th>
    <% APPRAISAL_PLANS.each do |plan_id| %>
    <th><%= number_to_currency(@totals[plan_id]) %></th>
  <% end %>
  </tfoot>
  </table>
  <% end %>
  <!-- End Comissions by type -->
   <!-- Comissions per type -->
  <% @appraisals_years = @appraisals.group_by {|t| t.created_at.beginning_of_year} %>
  <% @appraisals_years.sort.each do |year, appraisals| %>
  <h2>Appraiser's Commisions for <%= "#{year.strftime('%Y')}" %></h2>
  <table>
    <thead>
      <tr>
        <th>Month</th>
        <% APPRAISAL_PLANS.sort.each do |plan_id| %>
          <th><%= getStringForAppraisalType(plan_id).gsub(/ Appraisal/,'') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @totals = Hash.new(0)
        appraisals.group_by{|t| t.created_at.beginning_of_month}.sort.each do |month,appraisals|
        result = Hash.new(0)
        appraisals.each {|x| result[x.selected_plan] += x.payout_amount; @totals[x.selected_plan] += x.payout_amount; }
      %>
    <tr class="<%= cycle("even", "odd") %>">
      <td><%= "#{month.strftime('%B')} (#{number_to_currency(result.inject(0){|sum,x| sum + x[1]})})"  %></td>

      <% APPRAISAL_PLANS.sort.each do |plan_id| %>
        <td><%= number_to_currency(result[plan_id]) %></td>
      <% end %>
  </tr>
    <% end %>
  </tbody>
  <tfoot>
    <th>Totals (<%=number_to_currency(@totals.inject(0){|sum,x| sum + x[1]}) %>)</th>
    <% APPRAISAL_PLANS.each do |plan_id| %>
    <th><%= number_to_currency(@totals[plan_id]) %></th>
  <% end %>
  </tfoot>
  </table>
  <% end %>
  <!-- End Comissions by type -->

<% end %>
