<table class="table table-striped table-condensed ">
  <thead>
    <tr>
      <th>Item</th>
      <th>Item #</th>
      <th>Status</th>
      <th>Date Appraised</th>
      <th>Estimated<br>Retail Value</th>
      <th>Estimated<br>Replacement Value</th>
      <th>Appraisal Type</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% appraisals.each do |appraisal| %>
    <tr>
    <td><%= get_linked_thumbnail(appraisal) %></td>
    <!-- <td><%= link_to(h(appraisal.title) + " ##{appraisal.id}", appraisal_build_index_path(appraisal_id: appraisal)) %></td> -->
    <td><%= link_to(h(appraisal.title) + " ##{appraisal.id}", appraisal) %></td>
    <td><%= getStringForActivityValue(appraisal.status) %></td>
    <td><%= appraisal.status == EActivityValueFinalized ? distance_of_time_in_words(Time.now,appraisal.updated_at) + " ago" : "-" %></td>
    <td><%= appraisal.status == EActivityValueFinalized ? print_fair_market_value(appraisal) : "-" %></td>
    <td><%= appraisal.status == EActivityValueFinalized ? print_replacement_cost(appraisal) : "-" %></td>
    <td><%= getStringForAppraisalType(appraisal.selected_plan) %></td>
    <td><%= button_to('Delete', appraisal, :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-success btn-mini") if appraisal.status == EActivityValueCreated %>
    <%= link_to('Edit', appraisal_build_index_path(appraisal), :class => "btn btn-success btn-mini", :style => "margin:2px;") if appraisal.status == EActivityValueCreated %>
    <%= link_to('Edit', edit_appraisal_path(appraisal), :class => "btn btn-success btn-mini", :style => "margin:2px;") if appraisal.status == EActivityValuePayed %>
      <%= link_to appraisal_path(appraisal, :format => :pdf, :pdf_full => true), :class => "btn btn-success btn-mini" do %>Download PDF<% end if appraisal.status == EActivityValueFinalized%></td>
    <td>
      <% if appraisal.status == EActivityValueFinalized %>
        <% @payment = Payment.new %>
      <a href="#myModal-<%= appraisal.id %>" role="button" class="btn btn-mini btn-success" data-toggle="modal">Push to social</a>
    <% end %></td>
    <td><%= render :partial => "appraisals/partials/push_to_social", :locals => {:appraisal => appraisal} %></td>
  </tr>
<% end %>
  </tbody>
</table>
