<div>
  <span class='st_facebook' st_url="<%= get_url_for_shared_appraisal(appraisal) %>" st_title="Value This Now"></span>
  <span class='st_twitter' st_url="<%= get_url_for_shared_appraisal(appraisal) %>" st_title="Value This Now"></span>
  <span class='st_linkedin' st_url="<%= get_url_for_shared_appraisal(appraisal) %>" st_title="Value This Now"></span>
  <span class='st_pinterest' st_url="<%= get_url_for_shared_appraisal(appraisal) %>" st_title="Value This Now"></span>
  <span class='st_googleplus' st_url="<%= get_url_for_shared_appraisal(appraisal) %>" st_title="Value This Now"></span>
</div>


