<p id="notice"><%= notice %></p>

<p>
  <b>Appraisal:</b>
  <%= @photo.appraisal %>
</p>

<p>
  <b>User:</b>
  <%= @photo.user %>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
