<% if post.live? %>
  <div class="post"> <!-- begin div.post -->
  <%= render partial: "/refinery/blog/shared/vtn_post_left_side", locals: {post: post} %>
  <div class="right_side">
    <h1><%= link_to post.title, refinery.blog_post_path(post) %></h1>
    <% if post.author.present? %>
      <p>By <span><%= "#{post.author.username}"  %></span></p>.
  <% end %>
    <p class="post_descr">
    <% if blog_post_teaser_enabled? %>
      <%= blog_post_teaser(post) %>
  <% else %>
      <%= post.body.html_safe %>
  <% end %>
    </p>
    <% if (tags = post.tags).any? %>
      <div class="tag">
      <h5>Tags : </h5>
      <%=raw tags.collect { |tag| link_to tag, refinery.blog_tagged_posts_path(tag.id, tag.name.parameterize) }.to_sentence %>
    </div>
  <% end %>
    <%= link_to 'Continue Reading', refinery.blog_post_path(post), :class => "btn" if blog_post_teaser_enabled? %>
  </div> <!-- end post_right_side -->
</div> <!-- end div.post -->
<% end %>
