<div class="row">
  <div class="col-md-9 col-md-offset-1">
    <div class="big-title">
      Support
    </div>
    <%= render :partial => "contact_tabs" if current_user %>
    <%= simple_form_for @message, :url => contact_path, :html => {:class => 'form-horizontal'}  do |f| %>
      <% if !current_user %>
        <%= tb_field(form: f, field: :name) %>
        <%= tb_field(form: f, field: :email) %>
      <% else %>
        <%= tb_field(form: f, field: :name, value: current_user.name, as: :hidden) %>
        <%= tb_field(form: f, field: :email, value: current_user.email, as: :hidden) %>
      <% end %>
      <%= tb_field(form: f, field: :subject) %>
      <%= tb_field(form: f, field: :body, as: :text, title: "Messsage", input_html: {:rows => 4} ) %>
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
          For phone support call: (925) 289-8746
        </div>
      </div>
      <div>
        <%= tb_submit_button(title: "Send") %>
      </div>
    <% end %>
  </div>
</div>
