<h4>Customer Support Regarding a Specific Appraisal</h4>
<div class="sub_box">
<%= render :partial => "contact_tabs" %>
<div class="row">
		<%= link_to new_ticket_path, :class => "btn btn-success pull-right" do %><i class="icon-plus icon-white"></i> New Ticket <% end %>
</div>
<% if @tickets.count > 0 %>
<table class="table table-striped table-hover table table-condensed">
	<thead>
		<tr>
			<th></th>
			<th>Id</th>
			<th>Created</th>
			<th>Appraisal</th>
			<th>Status</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @tickets.each do |t| %>
		<% appraisal = Appraisal.find(t.appraisal_id) 
		remoteTicket = @ticketConnector.getTicket(t.id)
		unless remoteTicket.nil? %>
		<tr>
			<td><span class="label label-success"><%= raw remoteTicket.closed ? "<i class='icon-folder-close icon-white'></i>" : "<i class='icon-folder-open icon-white'></i>"%></span></td>
			<td><%= remoteTicket.number %></td>
			<td><%= remoteTicket.created_at %></td>
			<td><%= link_to "# #{appraisal.id} - #{appraisal.title}", appraisal_path(appraisal)  %></td>
			<td><%= remoteTicket.state.upcase %></td>
			<td><%= link_to show_ticket_path(t) do %>View <% end %></td>
		</tr>			
		<% end  
		end %>
	</tbody>
</table>
<% else %>
<div class="row">
	<div class="span12">
		You have not created any customer support tickets
	</div>
</div>
<% end %>
</div>
