<p id="notice"><%= notice %></p>

<p>
  <b>Appraisal:</b>
  <%= @appraisal_datum.appraisal %>
</p>

<p>
  <b>Datatype:</b>
  <%= @appraisal_datum.datatype %>
</p>

<p>
  <b>Value:</b>
  <%= @appraisal_datum.value %>
</p>


<%= link_to 'Edit', edit_appraisal_datum_path(@appraisal_datum) %> |
<%= link_to 'Back', appraisal_data_path %>
