<![if lt IE 9]>
  <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]>
<!-- tb_check -->
<footer id="main-footer">
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li><%= link_to "Affiliate Links", affiliate_path %></li>
        <li><%= link_to 'About online appraisals', how_path(role: 'consumer') %></li>
        <li> <%= link_to "Blog", 'http://blog.valuethisnow.com' %></li>
        <li><%= link_to('Testimonials', controller: '/home', action: :testimonials)%></li>
        <li> <%= link_to("Support", contact_path) %></li>
        <li> <%= link_to("Become an Appraiser", new_appraiser_registration_path) %></li>
        <li> <%= link_to("Privacy Policy", privacy_path) %></li>
        <li> <%= link_to("Terms of Service", terms_path) %></li>
        <li> <%= link_to "Login", new_user_session_path %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <a href="http://www.twitter.com/valuethisnow" target="_blank" ><%= image_tag "tw.png" %></a>
      <a href="http://pinterest.com/valuethisnow" target="_blank"><%= image_tag "pin.png" %></a>
      <a href="http://www.facebook.com/ValueThisNow" target="_blank"><%= image_tag "fb.png" %></a>
    </div>
    <div class="col-md-4 copy">Copyright &copy; 2013 Colosses LLC, All Rights Reserved</div>
    <div class="col-md-4">
      <script type="text/javascript">TrustLogo("<%= image_path ("secure.png") %>", "SC5", "none");</script>
    </div>
  </div>
</div>
</footer>
<%= render :partial => "layouts/affiliate" %>

