<footer class="footer">
  <div class="container">

    <ul class="footer-links">
      <li><%= link_to "Appraise my item", main_app.new_user_session_path %></a></li>
    <li> <a href="#">Learn about online appraisals</a></li>
    <li> <%= link_to "Blog", refinery.blog_root_path %></li>
    <li> <%= link_to("Support", main_app.contact_path) %></li>
    <li> <%= link_to("Become an Appraiser", main_app.become_path) %></li>
    <li> <%= link_to("Privacy Policy", main_app.privacy_path) %></li>
    <li> <%= link_to("Terms of Service", main_app.terms_path) %></li>
    <li> <%= link_to "Log In", main_app.new_user_session_path %></a></li>
</ul>

<div class="row-fluid show-grid">
  <div class="span4 social">

    <a href="http://www.twitter.com/valuethisnow" target="_blank" ><%= image_tag "tw.png" %></a>
    <a href="http://pinterest.com/valuethisnow" target="_blank"><%= image_tag "pin.png" %></a>
    <a href="http://www.facebook.com/ValueThisNow" target="_blank"><%= image_tag "fb.png" %></a>
  </div>
  <div class="span4 copy">copyright 2013 Valuethisnow.com</div>
  <div class="span4 f-last">
    <script type="text/javascript">TrustLogo("<%= image_path ("secure.png") %>", "SC5", "none");</script>
  </div>
</div>


</div>
</footer>
<%= render :partial => "layouts/affiliate" %>

