<div id="footer">
  <div class="inner">
    <div class="container">
      <div class="span4" id="footer-copyright">
          <%= link_to("How It Works", how_path) %> |
          <%= link_to("Contact Value My Treasure", contact_path) %> |
          <%= link_to("Become a Value My Treasure Appraiser", become_path) %> |
          <%= link_to("Privacy Policy", privacy_path) %> |
          <%= link_to("Terms and Conditions", terms_path) %>
      </div>
      <!-- /span4 -->
      <div class="ico-set">Follow Us On <a title="facebook" href="#"><%= image_tag("facebook.png") %></a> <a title="twitter" href="#"><%= image_tag("twitter.png") %></a> <a title="youtube" href="#"><%= image_tag("gplus.png") %></a> </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /inner -->
</div>