.footer
	= link_to("How It Works", how_path) + " | "
	= link_to("Contact Colosses", contact_path) + " | "
	= link_to("Become a Colosses Appraiser", become_path) + " | "
	= link_to("Privacy Policy", privacy_path) + " | "
	= link_to("Terms and Conditions", terms_path)