<div class="footer">
  <div>
    <%= link_to "Appraise my item", main_app.new_user_session_path %></a>
  <a href="#">Learn about online appraisals</a>
  <%= link_to "Blog", refinery.blog_root_path %>
  <%= link_to("Support", main_app.contact_path) %>
  <%= link_to("Become an Appraiser", main_app.become_path) %>
  <%= link_to("Privacy Policy", main_app.privacy_path) %>
  <%= link_to("Terms of Service", main_app.terms_path) %>
  <%= link_to "Login", main_app.new_user_session_path %></a>
  </div>
  <div>
<span class="copyright">copyright 2013 Valuethisnow.com</span>
<div class="footerLock">
<script type="text/javascript">TrustLogo("<%= image_path ("secure.png") %>", "SC5", "none");</script>
</div>
<div class="footerSocial">
  <a href="http://www.facebook.com/ValueThisNow" title="Visit our Facebook page."><span id="fS1"></span></a>
  <a href="http://www.twitter.com/valuethisnow" title="See our twitter feed."><span id="fS2"></span></a>
  <a href="http://pinterest.com/valuethisnow" title="See our Pinterest board."><span id="fS3"></span></a>
</div>
</div>
</div>
<%= render :partial => "layouts/affiliate" %>

