<div id="footer">
  <div class="inner">
    <div class="container">
      <div class="span4" id="footer-copyright">
          <%= link_to("How It Works", how_path) %> |
          <%= link_to("Contact Value This Now", contact_path) %> |
          <%= link_to("Become a Value This Now Appraiser", become_path) %> |
          <%= link_to("Privacy Policy", privacy_path) %> |
          <%= link_to("Terms and Conditions", terms_path) %>
      </div>
      <!-- /span4 -->
      <div class="ico-set">Follow Us On <a title="facebook" href="#" target="_new"><%= image_tag("facebook.png") %></a> <a title="twitter" href="http://www.twitter.com/valuethisnow" target="_new"><%= image_tag("twitter.png") %></a> <a title="gplus" href="https://plus.google.com/111102739695613579731" target="_new"><%= image_tag("gplus.png") %></a> </div>
    </div>
    <!-- /container -->
  </div>
  <!-- /inner -->
</div>