<div id="footer">
  <div class="inner">
    <div class="container">
      <div id="footer-copyright">
        <%= link_to "Blog", refinery.blog_root_path %> |
        <%= link_to("Appraisal Cost", main_app.cost_path) %> |
        <%= link_to("How It Works", main_app.how_path) %> |
        <%= link_to("Contact", main_app.contact_path) %> |
        <%= link_to("Become an Appraiser", main_app.become_path) %> |
        <%= link_to("Privacy Policy", main_app.privacy_path) %> |
        <%= link_to("Terms of Service", main_app.terms_path) %></br>
        <a title="facebook" href="http://www.facebook.com/ValueThisNow" target="_new"><img src="https://s3.amazonaws.com/media.valuethisnow.com/images/Facebook.png"></a> <a title="twitter" href="http://www.twitter.com/valuethisnow" target="_new"><img src="https://s3.amazonaws.com/media.valuethisnow.com/images/Twitter.png"></a> <a title="gplus" href="https://plus.google.com/111102739695613579731" target="_new"><img src="https://s3.amazonaws.com/media.valuethisnow.com/images/Google.png"></a>
        <a title="pinterest" href="http://pinterest.com/valuethisnow" target="_new"><img src="https://s3.amazonaws.com/media.valuethisnow.com/images/Pinterest.png"></a> <a title="linkedin" href="http://www.linkedin.com/in/valuethisnow" target="_new"><img src="https://s3.amazonaws.com/media.valuethisnow.com/images/LinkedIn.png"></a></div>
    </div>
    <!-- /container -->
  </div>
  <!-- /inner -->
</div>
<div id="logos" class="row-fluid" style="width: 100%;">
  <div class="span2">&nbsp;</div>
  <div class="span2">
    <script type="text/javascript">TrustLogo("https://s3.amazonaws.com/assets.valuethisnow.com/tl_white.gif", "SC5", "none");</script>
  </div>
  <div class="span2">
    <a href="https://www.paypal.com/us/verified/pal=rjohnston%40colosses%2ecom" target="_blank"><img src="https://www.paypal.com/en_US/i/icon/verification_seal.gif" border="0" alt="Official PayPal Seal" width="75" height="75"></A>
  </div>
  <div class="span2">
    <script type="text/javascript" language="javascript">var ANS_customer_id="e6d07733-39cf-4af2-9f8c-b27b1dbdfb31";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script> <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank"></a>
  </div>
  <div class="span2">
    <%= image_tag "cards.jpg", style: "margin-top: 20px;" %>
  </div>
  <div class="span2">&nbsp;</div>
</div>
<div class="pull-right">
  <small>Copyright &copy; 2013 Colosses LLC, All Rights Reserved</small>
</div>
<%= render :partial => "layouts/affiliate" %>

