<div id="footer">
  <div class="inner">
    <div class="container">
      <div id="footer-copyright">
          <%= link_to("How It Works", how_path) %> |
          <%= link_to("Contact Value This Now", contact_path) %> |
          <%= link_to("Become a Value This Now Appraiser", become_path) %> |
          <%= link_to("Privacy Policy", privacy_path) %> |
          <%= link_to("Terms and Conditions", terms_path) %></br>
<a title="facebook" href="http://www.facebook.com/ValueThisNow" target="_new"><img src="http://media.valuethisnow.com.s3.amazonaws.com/images/Facebook.png"></a> <a title="twitter" href="http://www.twitter.com/valuethisnow" target="_new"><img src="http://media.valuethisnow.com.s3.amazonaws.com/images/Twitter.png"></a> <a title="gplus" href="https://plus.google.com/111102739695613579731" target="_new"><img src="http://media.valuethisnow.com.s3.amazonaws.com/images/Google.png"></a>
<a title="pinterest" href="http://pinterest.com/valuethisnow" target="_new"><img src="http://media.valuethisnow.com.s3.amazonaws.com/images/Pinterest.png"></a> <a title="linkedin" href="http://www.linkedin.com/in/valuethisnow" target="_new"><img src="http://media.valuethisnow.com.s3.amazonaws.com/images/LinkedIn.png"></a></div>
    </div>
    <!-- /container -->
  </div>
  <!-- /inner -->
</div>