<footer class="footer">
  <div class="container">

    <ul class="footer-links">
      <li><%= link_to "Appraise my item", new_user_session_path %></a></li>
    <li><%= link_to 'Learn about online appraisals', how_path(role: 'consumer') %></li>
    <li> <%= link_to "Blog", 'http://blog.valuethisnow.com' %></li>
    <li> <%= link_to("Support", contact_path) %></li>
    <li> <%= link_to("Become an Appraiser", new_appraiser_registration_path) %></li>
    <li> <%= link_to("Privacy Policy", privacy_path) %></li>
    <li> <%= link_to("Terms of Service", terms_path) %></li>
    <li> <%= link_to "Login", new_user_session_path %></a></li>
</ul>

<div class="row-fluid show-grid">
  <div class="span4 social">

    <a href="http://www.twitter.com/valuethisnow" target="_blank" ><%= image_tag "tw.png" %></a>
    <a href="http://pinterest.com/valuethisnow" target="_blank"><%= image_tag "pin.png" %></a>
    <a href="http://www.facebook.com/ValueThisNow" target="_blank"><%= image_tag "fb.png" %></a>
  </div>
  <div class="span4 copy">Copyright &copy; 2013 Colosses LLC, All Rights Reserved</div>
  <div class="span4 f-last">
    <script type="text/javascript">TrustLogo("<%= image_path ("secure.png") %>", "SC5", "none");</script>
  </div>
</div>


</div>
</footer>
<%= render :partial => "layouts/affiliate" %>

