<!-- tb_check -->
<nav class="navbar navbar-default" role="navigation" id="main-navbar">
<div class="container-fluid">
  <% if current_user %>
    <span class="welcome_name"><%= current_user.get_user_name %></span>
  <% end %>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to image_tag("logo.png", :alt=> "finding antique and collectable treasure"), root_path %>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to("Home", root_path) %></li>
      <% if current_user %>
        <li><%= link_to("My Account", appraiser_steps_path) %></li>
        <% if current_user.is_customer? %>
          <li><%= link_to "Appraise my Item", appraisal_build_index_path(appraisal_id: 'building'), method: :post %></li>
          <li><%= link_to("My Appraisals", appraisals_path) %></li>
        <% elsif current_user.is_appraiser? && current_user.is_confirmed? %>
          <li><%= link_to("My Dashboard", dashboard_detail_path) %></li>
        <% end %>
        <li><%= link_to("Support", contact_path) %></li>
        <li><%= link_to("Signout", destroy_user_session_path, method: :delete) %></li>
      <% else %>
        <li><%= link_to("Blog", 'http://blog.valuethisnow.com') %></li>
        <li class="hidden-md"><%= link_to('Testimonials', controller: '/home', action: :testimonials) %></li>
        <li class="dropdown" id="toggleHow">
        <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">How It Works <b class="caret"></b></a>
        <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= url_for how_path(:role => "appraiser")%>">For Appraisers</a></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="<%= url_for how_path(:role => "consumer") %>">For Consumers</a></li>
        </ul>
        </li>
        <li><%= link_to "Register as Customer", new_customer_registration_path %></li>
        <li><%= link_to "Register as Appraiser", new_appraiser_registration_path %></li>
        <li><%= link_to("Login", new_user_session_path) %></li>
      <% end %>
    </ul>
  </div>
</div>
</nav>
