<div id="nav">
  <%= link_to image_tag("logo.png", :alt=> "finding antique and collectable treasure", :class => 'logo'), main_app.root_path %>
  <% if current_user %>
    <span class="navitem"><%= link_to("Account", main_app.appraiser_steps_path) %></span>
    <% if current_user.is_appraiser? && current_user.is_confirmed? %>
      <span class="navitem"><%= link_to("My Dashboard", dashboard_detail_path) %></span>
  <% elsif current_user.is_customer? %>
      <span class="navitem"><%= link_to("My Appraisals", main_app.users_path) %></span>
  <% end %>
    <span class="navitem"><%= link_to("Support", main_app.tickets_path) %></span>
    <span class="navitem"><%= link_to("Signout", main_app.destroy_user_session_path, method: :delete) %></span>
  <% else %>
    <span class="navitem"><%= link_to "Blog", refinery.blog_root_path %></span>
    <span class="navitem"><%= link_to "How it works", main_app.how_path %></span>
    <span class="navitem"><%= link_to 'What makes us different?', main_app.what_makes_path %></span>
    <span class="navitem"><%= link_to("Become an Appraiser", main_app.become_path) %></span>
    <span class="navitem"><%= link_to("Log In", main_app.new_user_session_path) %></span>
    <span class="navitem"><%= link_to "Register as Customer", main_app.new_customer_registration_path %></span>
    <span class="navitem"><%= link_to "Register as Appraiser", main_app.new_appraiser_registration_path %></span>
  <% end %>
</div>
