<div class="navbar navbar-fixed-top" >
  <div class="navbar-inner">
    <div class="container">
      <div class="logo"><%= link_to image_tag("logo.png"), root_path %>
        <span class="nav_menu">
          <ul class="nav">
              <li style="font-size:13px;"><%= link_to("Home", root_path) %></li>
              <li style="font-size:13px;"><a href="#">|</a></li>
            <% if current_user %>
              <li style="font-size:13px;"><%= link_to appraiser_steps_path do %><%= image_tag current_user.avatar_url(:small), :size => '20x20', :class=>'gravatar-tiny' %> My Account <% end %></li>
              <% if current_user.role.eql?("appraiser") && current_user.status.eql?(EAUserStatusConfirmed) %>
                <li style="font-size:13px;"><a href="#">|</a></li>
                <li style="font-size:13px;"><%= link_to("My Appraisals", appraisals_path) %></li>
              <% elsif current_user.role.eql?("user") %>
                <li style="font-size:13px;"><a href="#">|</a></li>
                <li style="font-size:13px;"><%= link_to("My Appraisals", users_path) %></li>
              <% end %>
                <li style="font-size:13px;"><a href="#">|</a></li>
                <li style="font-size:13px;"><%= link_to("Support", tickets_path) %></li>
            <% else %>
              <li style="font-size:13px;"><%= link_to "How it works", how_path %></li>
              <li style="font-size:13px;"><a href="#">|</a></li>
              <li style="font-size:13px;"><%= link_to 'What makes us different?', what_makes_path %></li>
              <li style="font-size:13px;"><a href="#">|</a> </li>
              <li style="font-size:13px;"><%= link_to("Become an Appraiser", become_path) %></li>
            <% end %>
          </ul>
        </span>
      </div>
      <div class="btn-group pull-right">
        <% if current_user %>
        <%= button_to("Signout", destroy_user_session_path, :method => :delete, :class => "btn btn-success") %>
        <% else %>
        <%= link_to "Log In", new_user_session_url, :class => "btn btn-success" %>
        <%= link_to "Register", new_user_registration_path, :class => "btn btn-success" %>
        <% end %>
      </div>
    </div>
  </div>
</div>