!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title Colosses
    = stylesheet_link_tag "application"
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = javascript_include_tag "application"
    = yield :javascript
    = csrf_meta_tag
  %body
    #page
      #logo= link_to(image_tag('logo_blue.png', :height => "107", :width => "230"), root_path)
      .tagline Worlds largest open platform social appraisal network.
      #nav_bar
        .nav_pos
          - if current_user
            %span.user= current_user.email
            |
            -#= link_to("My Account", "#", :class => "class2") + " | "
            - if current_user.role.eql?("appraiser")
              = link_to("My Appraisals", appraisals_path, :class => "class2") + " | "
            -else
              = link_to("My Appraisals", users_path, :class => "class2") + " | "
            = link_to("Support", contact_path, :class => "class2") + " | "
            = link_to("Signout", destroy_user_session_url, :class => "class2")
          - else
            = link_to("Login", new_user_session_url, :class => "class2") + " | "
            = link_to("Register", new_user_registration_path, :class => "class2")
      = render 'layouts/messages'
      = yield
      = render 'layouts/footer'