<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<% if !@post.nil? && @post.class.to_s == "Refinery::Blog::Post" %>
<title><%= @post.seo_meta.browser_title unless @post.seo_meta.nil? %></title>
<% else %>
<title>ValueThisNow: an online appraisal service for antiques &amper; collectibles</title>
<% end %>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= render :partial => 'layouts/meta' %>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
<!--  styles -->
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
          <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
<!--[if IE]>
  <link rel="stylesheet" type="text/css" href="/ie.css">
<![endif]-->
<!--[if IE]><script src="https://s3.amazonaws.com/screencasts.valuemytreasure.com/js/excanvas.compiled.js"></script><![endif]-->
<!-- Le fav and touch icons -->
<%= analytics_init if Rails.env.production? %>
<script type="text/javascript">
//<![CDATA[
var cvc_loc0=(window.location.protocol == "https:")? "https://secure.comodo.net/trustlogo/javascript/trustlogo.js" :
"http://www.trustlogo.com/trustlogo/javascript/trustlogo.js";
document.writeln('<scr' + 'ipt language="JavaScript" src="'+cvc_loc0+'" type="text\/javascript">' + '<\/scr' + 'ipt>');
//]]>
</script>
</head>
<body>
<%= # render :partial => "layouts/welcome"
%>
<!-- Navbar -->
<%= render :partial => "layouts/navbar"%>
<div>
  <div class="container">
    <!-- Flash Notice -->
    <% if flash[:notice] %>
      <div class="row">
      <div class="alert alert-info">
        <a class="close" data-dismiss="alert">×</a>
        <%= flash[:notice] %>
      </div> <!-- Alert -->
    </div> <!-- Row Fluid -->
  <% end %>
    <!-- End Notice -->
    <!-- Flash alert -->
    <% if flash[:alert] %>
      <div class="row">
      <div class="alert">
        <a class="close" data-dismiss="alert">×</a>
        <%= flash[:alert] %>
      </div> <!-- Alert -->
    </div> <!-- Row Fluid -->
  <% end %>
    <!-- End Notice -->
    <!-- Flash Error -->
    <% if flash[:error] %>
      <div class="row">
      <div class="alert alert-error">
        <a class="close" data-dismiss="alert">×</a>
        <%= flash[:error] %>
      </div> <!-- Alert -->
    </div> <!-- Row Fluid -->
  <% end %>
    <!-- End Notice -->
  </div>
  <div>
    <%= yield %>
  </div>
</div>
<%= render :partial => "layouts/footer" %>
</body>
</html>
